<div class="page-title-box items-center">
    <div class="container-xxl">
        <div class="d-flex items-center">
            <h3 class="page-title">Estimates</h3>
            <div class="page-title-right d-flex align-items-center gap-3 ms-auto">
                <button class="primary-filled-button  w-100" type="button" (click)="createEstimate()">
                    <span class="icon-add"></span>Add New
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl">
    <div class="py-4">
        <div class="estimate-widget-container">
            <div class="estimate-widget-card">
                <div class="estimate-widget-card-circle lightGrayBox">
                    <span class="icon-report-1"></span>
                </div>
                <div class="estimate-widget-card-info">
                    <h6>{{items.length > 0 ?
                        items[0].totalCount:0}}</h6>
                    <p>Total Estimates</p>
                </div>
            </div>
            <div class="estimate-widget-card ">
                <div class="estimate-widget-card-circle lightYellowBox">
                    <span class="icon-time"></span>
                </div>
                <div class="estimate-widget-card-info">
                    <h6>${{stats?.totalEstimateDraftRevenue | number : '1.2-2'}}</h6>
                    <p>Draft from {{stats?.totalEstimateDraftCount}} estimates</p>
                </div>
            </div>
            <div class="estimate-widget-card ">
                <div class="estimate-widget-card-circle lightSuccessBox">
                    <span class="icon-send"></span>
                </div>
                <div class="estimate-widget-card-info">
                    <h6>${{stats?.totalEstimateSentRevenue | number : '1.2-2'}}</h6>
                    <p>Sent from {{stats?.totalEstimateSentCount}} estimates</p>
                </div>
            </div>
        </div>
    </div>
    <div class="table-top-filter-row row">
        <div class="col-12">
            <div class="table-top-filter-left" [formGroup]="estimateRagePickerForm">
                <div class="top-search-group flexGrow2 startIconInputField">
                    <input type="text" id="search" name="search" formControlName="searchStr"
                        placeholder="Search with Name, Address, Phone number here..." class="form-control"
                        (keyup.enter)="onEnter($event)">
                    <span class="icon-search iconPosition"></span>
                </div>
                <div class="top-search-group">
                    <mat-form-field class="muiDatePickerFromField" (click)="picker.open()">
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate formControlName="start" placeholder="Start date">
                            <input matEndDate formControlName="end" placeholder="End date" (dateChange)="rangeChangeEvent()">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
                <div class="top-search-group flexGrow1">
                    <select id="status" name="status" class="form-select" formControlName="status"
                        (change)="filterGrid()">
                        <option value="">Show All</option>
                        <option value="D">Draft</option>
                        <option value="S">Sent</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- <div class="table-top-filter-right">
            <button class="light-outlined-button"><span class="icon-send"></span> Send Estimate</button>
            <button class="light-outlined-button"><span class="icon-time"></span> Send Reminder</button>
            <button class="light-outlined-button"><span class="icon-export"></span> Export</button>
        </div> -->
    </div>
    <div class="mt-20">
        <table class="row-border">
            <thead>
                <tr>
                    <!--<th class="td-1">
                        <mat-checkbox class="example-margin" (change)="checkAll($event)"></mat-checkbox>
                    </th>-->
                    <th (click)="sortBy('refNo')">Estimate No.{{sortIcon('refNo')}}</th>
                    <th (click)="sortBy('createdDate')">Create Date{{sortIcon('createdDate')}}</th>
                    <th (click)="sortBy('firstName')">Customer Name{{sortIcon('firstName')}}</th>
                    <th (click)="sortBy('totalAmount')">Amount Due{{sortIcon('totalAmount')}}</th>
                    <th (click)="sortBy('status')">Status{{sortIcon('status')}}</th>
                    <th class="text-end">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let estimate of items">
                    
                   <!--<td class="td-1">
                        <mat-checkbox class="example-margin" [checked]="estimate.ischeck ==true"></mat-checkbox>
                    </td>-->
                    <td>{{estimate.refNo}}</td>
                    <td>{{estimate.createdDate | date:'mediumDate' }}</td>
                    <td>{{estimate.firstName}} {{estimate.lastName}}</td>
                    <td>${{estimate.totalAmount | number : '1.2-2'}}</td>
                    <td><span [ngClass]="{'grey-badge': estimate.status === 'Draft', 'warning-badge' : estimate.status === 'Sent'}">{{estimate.status}}</span></td>
                    <td>
                        <div class="d-flex align-items-center justify-content-end">
                            <button class=" light-outlined-button" (click)="redirectToCreateEstimate(estimate.estimateId)">View Details</button>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="items.length == 0 && !loading" class="text-center">
                    <td class="text-center" colspan="7">
                        <div class="d-flex flex-column align-items-center p-5">
                            <img src="../../../../assets/images/no-data-found.svg" alt="image" class="no-data-found-img"/>
                            <span class="font-muted font14 text-center">No Estimate created. Click on "Add new" to create your first estimate.</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer pb-0 pt-3">
        <mat-paginator [length]="items.length > 0 ? items[0].totalCount:0" *ngIf="items.length > 0"
            [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
            (page)="onPageChanged($event)"></mat-paginator>
    </div>
</div>