<div class="authWrapper ">
    <div class="authleftWrapper">
        <div class="authLogo">
            <img src="../../../../assets/images/logo-white.svg" alt="logo" />
        </div>
        <div class="authleftBottom">
            <div class="authIconShape">
                <img src="../../../../assets/images/quote-icon.svg" alt="icon" />
            </div>
            <h4 class="text-yellow">Interesting Fact</h4>
            <p class="text-white">
                70% of HVAC contractors utilize digital tools like HVAC software and
                mobile apps for scheduling, invoicing, and customer management, boosting efficiency and
                service.</p>
            <p class="textCopywrite text-white">Copyright © 2024 bluecollarengine.com</p>
        </div>
    </div>
    <div class="authrightWrapper">
        <div class="fxt-content">
            <div class="fxt-form-head">
                <div class="squareShape">
                    <img src="../../../../assets/images/logo-icon.svg" alt="icon" />
                </div>
                <h4>Reset Password</h4>
                <p>No worries, we’ll send you reset instructions</p>
            </div>
            <form class="my-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group mb-3">
                    <label for="newPassword" class="form-label">New Password</label>
                    <input type="password" formControlName="password" placeholder="Enter new password"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <!-- <div *ngIf="f.password.errors.pattern">Password should be aplha numeric is required</div> -->
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="confirmpassword" class="form-label">Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" placeholder="Re-enter password"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.confirmedValidator">Password and Confirm Password must be
                            match.</div>
                    </div>
                </div>
                <button [disabled]="loading" class="primary-filled-button w-100">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    Submit</button>                
                <div class="authFormRemember">
                    <a [routerLink]="['/login']" class="">Back to log in</a>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal -->
<button style="display: none;" class="primary-filled-button w-100" type="button" data-bs-toggle="modal"
    data-bs-target="#reset-password-modal" #resetSuccess>Reset
    Password</button>
<div class="modal fade" id="reset-password-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="reset-password-modal-wrapper">
                <div class="mb-20">
                    <img src="../../../../assets/images/send-email.svg" alt="" />
                </div>
                <h4 class="mb-15">We have just sent you an e-mail with an activation code link</h4>
                <p class="mb-15 font14 font-muted">A message is send to your e-mail address for confirmation of password
                    reset
                </p>
                <button class="primary-filled-button w-100 mt-20" [routerLink]="['/login']">Back to log
                    in</button>
                <p class="font-muted font12 mt-15">If you haven't received the email, please <a href="#"> resend again
                    </a></p>
            </div>
        </div>
    </div>
</div>