<div class="authWrapper ">
    <div class="authleftWrapper">
        <div class="authLogo">
            <img src="../../../../assets/images/logo-white.svg" alt="logo" />
        </div>
        <div class="authleftBottom">
            <div class="authIconShape">
                <img src="../../../../assets/images/quote-icon.svg" alt="icon" />
            </div>
            <h4 class="text-yellow">Interesting Fact</h4>
            <p class="text-white">
                70% of HVAC contractors utilize digital tools like HVAC software and
                mobile apps for scheduling, invoicing, and customer management, boosting efficiency and
                service.</p>
            <p class="textCopywrite text-white">Copyright © 2024 bluecollarengine.com</p>
        </div>
    </div>
    <div class="authrightWrapper">
        <div class="fxt-content">
            <div class="fxt-form-head">
                <div class="squareShape">
                    <img src="../../../../assets/images/logo-icon.svg" alt="icon" />
                </div>
                <h4>Create New Password</h4>
                <p>Your new password must be different from previous used passwords</p>
            </div>
            <form class="my-form">
                <div class="form-group mb-3">
                    <label for="newPassword" class="form-label">New Password</label>
                    <input type="password" id="newPassword" formControlName="newPassword"
                        placeholder="Enter new password" class="form-control" autocomplete="on">
                </div>
                <div class="form-group mb-3">
                    <label for="confirmpassword" class="form-label">Confirm Password</label>
                    <input type="password" id="confirmpassword" formControlName="confirmPassword"
                        placeholder="Re-enter password" class="form-control" autocomplete="on">
                </div>
                <button class="primary-filled-button w-100" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>