.job-top-steps {
  display: flex;
  align-items: center;
  gap: 15px;
  .job-step-item {
    flex: 1;
    position: relative;
    border: 1px solid #edeff0;
    padding: 8px 8px;
    border-radius: 15px;
    text-align: center;
    h4 {
      font-size: 0.752rem;
      font-weight: 500;
      margin-bottom: 3px;
      color: var(--light-info);
    }
    p {
      font-size: 10px;
      margin-bottom: 0;
      color: var(--light-info);
    }
    &.active-job-step {
      background-color: var(--light-primary);
      border-color: var(--primary);
      h4 {
        color: var(--primary);
      }
      p {
        color: var(--primary);
      }
    }
    &.success-job-step {
      background-color: var(--light-success);
      border-color: var(--success);
      h4 {
        color: var(--success);
      }
      p {
        color: var(--success);
      }
    }
  }
}
.createJobItemDetailsSection {
  .itemDetailsTable {
    table {
      border: 0;
      thead {
        tr {
          border: 0;
          th {
            text-transform: capitalize;
            color: var(--muted);
            border: 0 !important;
            background-color: var(--light-primary);
            padding: 8px 15px !important;
            text-align: left !important;
            color: var(--muted);
            font-size: 0.75rem;
            font-weight: 400 !important;
          }
        }
      }
      tbody {
        tr {
          border: 0;
          vertical-align: text-top;
          td {
            border: none;
            text-align: left;
            padding: 20px 15px;
            font-size: 0.875rem;
            font-weight: 400;
            &:first-child {
              padding-left: 0 !important;
            }
            form {
              td {
                padding: 0;
              }
            }
          }
        }
      }
    }
    .itemDetailsTableFooter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: var(--light-primary);
      padding: 15px;
    }
  }
}

.job-step-item-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  content: "";
  height: 0;
  width: 0;
  border: 24px solid transparent;
  border-right-width: 0;
  border-left-width: 20px;
}

.bookingDateTimeWrapper {
  display: flex;
  align-items: center;
  position: relative;
  span.icon-calendar {
    position: absolute;
    left: 12px;
    top: 8px;
    font-size: 14px;
  }
  .form-control {
    padding-left: 35px;
    height: 32px;
  }
  button {
    position: absolute;
    right: 10px;
    padding: 0;
    font-size: 14px;
    top: 5px;
  }
}

li.dropdown-team-item {
  padding: 15px;
  border-bottom: 1px solid var(--border-color2);
  .dropdown-badge {
    height: 22px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 12px;
  }
  &:last-child {
    border-bottom: 0;
  }
  .tech-img {
    width: 34px;
    height: 34px;
    border-radius: 50px;
    overflow: hidden;
  }
}

.selected-tech-team {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 15px;
}

.booking-team-user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  min-width: 35px;
  border-radius: 50px;
  border: 1px solid var(--border-color2);
}
