<div class="page-title-box items-center">
    <div class="container-xxl">
        <div class="d-flex items-center">
            <div class="d-flex items-center">
                <h4 class="page-title">#264826: HVAC Service</h4>
                <button class="btn ms-2 ">
                    <span class="icon-edit-2"></span>
                </button>
            </div>
            <div class="page-title-right d-flex align-items-center gap-3 ms-auto">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle gap-2" data-bs-toggle="dropdown"
                        data-bs-display="static" aria-expanded="false">
                        More Action
                        <span class="icon-down-arrow"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a href="#"><span class="icon-edit-2"></span> Edit Details</a></li>
                        <li><a href="#"><span class="icon-estimate"></span> Create Estimate</a></li>
                        <li><a href="#"><span class="icon-job"></span> Create Job</a></li>
                        <li><a href="#"><span class="icon-invoice"></span> Create Invoice</a></li>
                        <li><a href="#"><span class="icon-address"></span> Address Book</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl">
    <div class="py-4">
        <div class="job-top-steps">
            <div class="job-step-item active-job-step">
                <h4>Scheduled</h4>
                <p>Apr 15, 2024, at 10:00AM</p>
            </div>
            <div class="job-step-item">
                <h4>Estimate</h4>
                <p>Apr 15, 2024, at 10:00AM</p>
            </div>
            <div class="job-step-item">
                <h4>Job Start</h4>
                <p>Apr 15, 2024, at 10:00AM</p>
            </div>
            <div class="job-step-item">
                <h4>Job Finish</h4>
                <p>Apr 15, 2024, at 10:00AM</p>
            </div>
            <div class="job-step-item">
                <h4>Invoice</h4>
                <p>Apr 15, 2024, at 10:00AM</p>
            </div>
            <div class="job-step-item success-job-step">
                <h4>Get Paid</h4>
                <p>Apr 15, 2024, at 10:00AM</p>
            </div>
        </div>
    </div>
    <div class="row g-4">
        <div class="col-lg-4">
            <div class="border rounded overflow-hidden mb-4">
                <div class="p-3">
                    <h5 class="font14 font-muted font400 mb-2">Customer Details</h5>
                    <h4 class="font18 my-2">John Deo</h4>
                    <div class="font14 d-flex align-items-center gap-2 mb-2 "> <span class="icon-call"></span>(555)
                        555 555 </div>
                    <div class="font14 d-flex align-items-center gap-2"><span
                            class="icon-email"></span>info&#64;comfortzonheating.com </div>
                </div>
            </div>
            <div class="border rounded overflow-hidden mb-4">
                <div class="p-3">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <p class="font15 mb-0 font-muted">Estimate</p>
                        <button class="btn light-outlined-button xs-btn"> <span class="icon-add"></span> Add</button>
                    </div>
                    <div class="border-bottom pb-3">
                        <span class="xs-btn success-badge mb-2">Accepted</span>
                        <h4 class="font15 my-2 ">HVAC Service (CZHC-00001)</h4>
                        <div class="d-flex align-items-center gap-2">
                            <div class="flex-fill">
                                <p class="font14 mb-0 font-muted"><span class="font500">Created:</span> Feb 14, 2024</p>
                            </div>
                            <div class="flex-fill">
                                <p class="font14  mb-0 font-muted"><span class="font500">Amount:</span> $ 23,456.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <span class="xs-btn danger-badge mb-2">Cancelled</span>
                        <h4 class="font15 my-2 ">HVAC Service (CZHC-00001)</h4>
                        <div class="d-flex align-items-center gap-2">
                            <div class="flex-fill">
                                <p class="font14 mb-0 font-muted"><span class="font500 ">Created:</span> Feb 14, 2024
                                </p>
                            </div>
                            <div class="flex-fill">
                                <p class="font14  mb-0 font-muted"><span class="font500">Amount:</span> $ 23,456.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border rounded overflow-hidden mb-4">
                <div class="p-3">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <p class="font15 mb-0 font-muted">Invoice</p>
                        <button class="btn light-outlined-button xs-btn"> <span class="icon-add"></span> Add</button>
                    </div>
                    <div class="p-3 d-flex align-items-center justify-center">
                        <div class="w-50 text-center">
                            <img src="../../../../../assets/images/no-document.svg" class="img" />
                            <p class="font14 mb-0 mt-3 font-muted">No Estimate has been sent
                                to the customer</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="border rounded overflow-hidden mb-4">
                <div class="row gx-5">
                    <div class="col-lg-6  ">
                        <div class="d-flex align-items-start gap-3 p-3">
                            <div class="fs-3">
                                <span class="icon-calendar"></span>
                            </div>
                            <div class="">
                                <p class="font14 mb-0 font-muted">Date & Time</p>
                                <h4 class="font16 font600 my-1 ">11:00 Am - 01:00 PM</h4>
                                <p class="font14 mb-0 ">Friday, Apr 14, 2024</p>
                            </div>
                            <button class="btn light-outlined-button xs-btn ms-auto"> <span class="icon-edit"></span>
                                Reschedule</button>
                        </div>
                    </div>
                    <div class="col-lg-6 border-start">
                        <div class="d-flex align-items-start gap-3  p-3">
                            <div class="fs-3">
                                <span class="icon-address"></span>
                            </div>
                            <div class="">
                                <p class="font14 mb-0 font-muted">Service Location</p>
                                <h4 class="font16 font600 my-1 ">333 Cedar Drive, Mountain View, CA 94040</h4>
                                <div class="d-flex align-items-center gap-2 justify-content-start mt-2">
                                    <button class="btn light-primary-outlined-button xs-btn">
                                        Get direction</button>
                                    <button class="btn light-outlined-button xs-btn ms-2"> <span
                                            class="icon-edit-2"></span>
                                        Edit Address</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="createJobItemDetailsSection">
                <h4 class="mb-15 font16">Item Details</h4>
                <div class="itemDetailsTable">
                    <table>
                        <thead>
                            <tr>
                                <th>Product/Services</th>
                                <th>Qty</th>
                                <th>Unit price</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-md-6">
                                    <div class="form-group mb-3">
                                        <select id="item" class="form-select">
                                            <option value="" disabled selected>Type or click to select an item</option>
                                            <option value="Air conditioner repair">Air conditioner repair</option>
                                            <option value="Energy audit">Energy audit</option>
                                            <option value="Heat pump repair">Heat pump repair</option>
                                            <option value="Duct cleaning">Duct cleaning</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <textarea placeholder="Description (Optional)" class="form-control"
                                            rows="3"></textarea>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="number" id="Qty" placeholder="Qty"
                                            class="form-control">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" id="UnitPrice"
                                            placeholder="$0.00" class="form-control">
                                    </div>
                                </td>
                                <td>
                                    $0.00
                                </td>
                                <td>
                                    <button class="btn">
                                        <span class="icon-delete"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mb-3">
                        <button class="light-primary-outlined-button"><span class="icon-add"></span>Add Service
                            Item</button>
                    </div>
                    <div class="itemDetailsTableFooter">
                        <h4>Total Amount</h4>
                        <h4>$150.00</h4>
                    </div>
                </div>
                <div class="form-group mb-3 mt-4">
                    <label for="fname" class="form-label">Assigned Team</label>
                    <div class="d-flex gap-3 flex-wrap align-items-center">
                        <button class="light-primary-outlined-button height55">
                            <span class="icon-add-user"></span>
                            Assign Team
                        </button>
                        <div class="d-flex tech-info  align-items-center gap-3 border rounded p-2">
                            <div class="tech-img">
                                <img src="../../../../../assets/images/tech2.png" alt="" class="img-fluid" />
                            </div>
                            <div class="">
                                <h5 class="font14 mb-1 font500"> Michael Johnson</h5>
                                <p class="font12 mb-0 font-muted font400">Air Duct Cleaning and Maintenance</p>
                            </div>
                            <button class="btn p-1" type="button">
                                <span class="icon-delete"></span>
                            </button>
                        </div>
                        <div class="d-flex tech-info  align-items-center gap-3 border rounded p-2">
                            <div class="tech-img">
                                <img src="../../../../../assets/images/tech3.png" alt="" class="img-fluid" />
                            </div>
                            <div class="">
                                <h5 class="font14 mb-1 font500"> Michael Johnson</h5>
                                <p class="font12 mb-0 font-muted font400">Air Duct Cleaning and Maintenance</p>
                            </div>
                            <button class="btn p-1" type="button">
                                <span class="icon-delete"></span>
                            </button>
                        </div>

                    </div>
                </div>
                <div class="form-group mb-3 mt-4">
                    <label for="fname" class="form-label">Add Notes</label>
                    <textarea placeholder="Please add notes to technician regarding the customer requirements"
                        class="form-control" rows="4"></textarea>
                </div>
                <div class="d-flex justify-content-start gap-3 mt-3 mb-5">
                    <button class="primary-filled-button px-5 lg-btn" type="submit">Submit</button>
                    <button class="light-outlined-button px-5 lg-btn" type="button">Cancel</button>

                </div>
            </div>
        </div>
    </div>
</div>