<div class="page-title-box items-center">
    <div class="container-xxl">
        <div class="d-flex items-center">
            <div class="">
                <div class="d-flex items-center mb-10">
                    <h4 class="page-title">Booking Details</h4>
                </div>
                <div class="breadcrumb">
                    <a [routerLink]="['/admin']">Dashboard</a>
                    <span class="separator">/</span>
                    <a [routerLink]="['/admin/jobs']">Booking</a>
                    <span class="separator">/</span>
                    <span>Booking Details</span>
                </div>
            </div>
            <div class="page-title-right d-flex align-items-center gap-3 ms-auto">
                <button class="primary-filled-button  w-100" type="button"><span class="icon-add"></span>
                    Add New</button>
            </div>

        </div>
    </div>
</div>

<div class="container-xxl">
    <div class="py-4">
        <div class="row gy-3 gy-lg-0 gx-5">
            <div class="col-lg-3">
                <div class="border bg-light rounded overflow-hidden">
                    <h4 class="p-3 font15 d-flex justify-content-between align-items-center font-muted font500">
                        Booking ID <span class="text-dark">#458468</span>
                    </h4>
                    <div class="p-3 border-top">
                        <h4 class="font16 mb-2">John Deo</h4>
                        <div class="font14 d-flex align-items-center gap-2 mt-1 mb-2 text-black"> <span
                                class="icon-call"></span>(555)
                            555 555 </div>
                        <div class="font14 d-flex align-items-center gap-2 text-black"><span
                                class="icon-email"></span>info&#64;comfortzonheating.com </div>
                    </div>
                    <div class="p-3 border-top">
                        <h4 class="font15 mb-2 font-muted font500">Estimate</h4>
                        <div class="d-flex gap-2 flex-column">
                            <span class="white-badge"><span class="icon-tick text-success me-1"></span> #CZHC-00001 -
                                HVAC Service</span>
                            <span class="white-badge"><span class="icon-close text-danger  me-1"></span> #CZHC-00001 -
                                HVAC
                                Service</span>
                        </div>
                    </div>
                    <div class="p-3 border-top">
                        <h4 class="font15 mb-2 font-muted font500">Invoice</h4>
                        <div class="d-flex gap-2 flex-column">
                            <span class="white-badge"><span class="icon-overdue text-warning me-1"></span> #CZHC-00001 -
                                HVAC Service</span>
                            <span class="white-badge"><span class="icon-close text-danger  me-1"></span> #CZHC-00001 -
                                HVAC
                                Service</span>
                        </div>
                    </div>
                    <div class="p-3 border-top">
                        <h4 class="font15 mb-2 font-muted font500">Assigned Team</h4>
                        <div class="d-flex flex-wrap gap-3 ">
                            <div class="booking-team-user">
                                <img src="../../../../assets/images/tech1.png" class="w-100 h-100 object-fit-cover" />
                            </div>
                            <div class="booking-team-user">
                                <img src="../../../../assets/images/tech2.png" class="w-100 h-100 object-fit-cover" />
                            </div>
                            <div class="booking-team-user border-primary text-primary">
                                <span class="icon-add-user"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="job-top-steps mb-4">
                    <div class="job-step-item active-job-step">
                        <h4>Scheduled</h4>
                        <p>Apr 15, 2024, at 10:00AM</p>
                    </div>
                    <div class="job-step-item active-job-step">
                        <h4>Estimate</h4>
                        <p>Apr 15, 2024, at 10:00AM</p>
                    </div>
                    <div class="job-step-item active-job-step">
                        <h4>Job Start</h4>
                        <p>Apr 15, 2024, at 10:00AM</p>
                    </div>
                    <div class="job-step-item">
                        <h4>Job Finish</h4>
                        <p>-</p>
                    </div>
                    <div class="job-step-item">
                        <h4>Invoice</h4>
                        <p>-</p>
                    </div>
                    <div class="job-step-item success-job-step">
                        <h4>Get Paid</h4>
                        <p>-</p>
                    </div>
                </div>
                <div class="border rounded overflow-hidden mb-4">
                    <div class="row">
                        <div class="col-lg-6  ">
                            <div class="d-flex align-items-start gap-3 p-3 pe-lg-0">
                                <div class="fs-3">
                                    <span class="icon-calendar"></span>
                                </div>
                                <div class="">
                                    <p class="font14 mb-0 font-muted">Date & Time</p>
                                    <h4 class="font15 font600 my-1 ">11:00 Am - 01:00 PM
                                        <span class="font14">Friday, Apr 14, 2024</span>
                                    </h4>
                                </div>
                                <button class="btn light-outlined-button ShapeCircle28 p-0 ms-auto"> <span
                                        class="icon-edit"></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-6 border-start">
                            <div class="d-flex align-items-start gap-3  p-3">
                                <div class="fs-3">
                                    <span class="icon-address"></span>
                                </div>
                                <div class="">
                                    <p class="font14 mb-0 font-muted">Service Location</p>
                                    <h4 class="font15 font600 my-1 ">333 Cedar Drive, Mountain View, CA 94040</h4>
                                </div>
                                <button class="btn light-outlined-button ShapeCircle28 p-0 ms-auto"> <span
                                        class="icon-edit"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="createJobItemDetailsSection">
                    <h4 class="mb-15 font16">Item Details</h4>
                    <div class="itemDetailsTable">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product/Services</th>
                                    <th>Qty</th>
                                    <th>Unit price</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-md-6">
                                        <div class="form-group mb-3">
                                            <select id="item" class="form-select">
                                                <option value="" disabled selected>Type or click to select an item
                                                </option>
                                                <option value="Air conditioner repair">Air conditioner repair</option>
                                                <option value="Energy audit">Energy audit</option>
                                                <option value="Heat pump repair">Heat pump repair</option>
                                                <option value="Duct cleaning">Duct cleaning</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <textarea placeholder="Description (Optional)" class="form-control"
                                                rows="3"></textarea>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="number" id="Qty" placeholder="Qty" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" id="UnitPrice" placeholder="$0.00" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        $0.00
                                    </td>
                                    <td>
                                        <button class="btn">
                                            <span class="icon-delete"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="mb-3">
                            <button class="light-primary-outlined-button"><span class="icon-add"></span>Add Service
                                Item</button>
                        </div>
                        <div class="itemDetailsTableFooter">
                            <h4>Total Amount</h4>
                            <h4>$150.00</h4>
                        </div>
                    </div>
                    <div class="form-group mb-3 mt-4">
                        <label for="fname" class="form-label">Add Notes</label>
                        <textarea placeholder="Please add notes to technician regarding the customer requirements"
                            class="form-control" rows="4"></textarea>
                    </div>
                    <div class="d-flex justify-content-end gap-3 mt-3 mb-5">
                        <button class="light-outlined-button px-5 lg-btn" type="button">Cancel</button>
                        <button class="primary-filled-button px-5 lg-btn" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>