<div class="offcanvas-header sidebar-popup-header">
    <h6 class="offcanvas-title" id="offcanvasRightLabel">Add Customer</h6>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" #customerCancelEle>
    </button>
</div>
<form class="sidebar-popup-inner" [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <div class="offcanvas-body">
        <div class="form-group mb-3">
            <label for="fname" class="form-label">Customer Name</label>
            <input type="text" formControlName="firstName" class="form-control mb-3" placeholder="First name"
                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" maxlength="50" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First name is required</div>
            </div>
            <input type="text" formControlName="lastName" class="form-control" placeholder="Last name"
                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" maxlength="50" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last name is required</div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="companyname" class="form-label">Company Name (If applicable)</label>
            <input type="text" formControlName="companyName" class="form-control" placeholder="Company name"
                maxlength="200" />
        </div>
        <div class="form-group mb-3">
            <label for="email" class="form-label">Mobile No.</label>
            <input type="text" formControlName="mobileNumber" class="form-control" placeholder="Mobile number"
                [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" maxlength="200" />
            <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
                <div *ngIf="f.mobileNumber.errors.required">Mobile number is required</div>
                <div *ngIf="f.mobileNumber.errors.pattern">Enter valid mobile number</div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="email" class="form-label">Landline No.</label>
            <input type="text" formControlName="landlineNo" class="form-control" placeholder="Landline number"
                [ngClass]="{ 'is-invalid': submitted && f.landlineNo.errors }" maxlength="200" />
            <div *ngIf="submitted && f.landlineNo.errors" class="invalid-feedback">
                <div *ngIf="f.landlineNo.errors.required">Landline no. is required</div>
                <div *ngIf="f.landlineNo.errors.pattern">Enter valid Landline no.</div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="text" formControlName="emailAddress" class="form-control" placeholder="Email address"
                [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }" maxlength="200"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
            <div *ngIf="submitted && f.emailAddress.errors" class="invalid-feedback">
                <div *ngIf="f.emailAddress.errors.required">Email address is required</div>
                <div *ngIf="f.emailAddress.errors.pattern">Enter valid email address</div>
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="fname" class="form-label">Service Address</label>
            <input type="text" formControlName="serviceAddress" class="form-control mb-3" placeholder="Service Address"
                [ngClass]="{ 'is-invalid': submitted && f.serviceAddress.errors }" maxlength="500" />
            <div *ngIf="submitted && f.serviceAddress.errors" class="invalid-feedback">
                <div *ngIf="f.serviceAddress.errors.required">Service address is required</div>
            </div>
            <div class="row g-3">
                <div class="col-md-6 ">
                    <select id="state" formControlName="state" name="state" class="form-select"
                        [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                        <option value="" disabled>Select State</option>
                        <option value="California">California</option>
                        <option value="Texas">Texas</option>
                        <option value="Florida">Florida</option>
                        <option value="New York">New York</option>
                        <option value="Pennsylvania">Pennsylvania</option>
                        <option value="Illinois">Illinois</option>
                        <option value="Ohio">Ohio</option>
                        <option value="Georgia">Georgia</option>
                        <option value="North Carolina">North Carolina</option>
                        <option value="Michigan">Michigan</option>
                    </select>
                    <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                        <div *ngIf="f.state.errors.required">State is required</div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <input type="text" formControlName="city" class="form-control" placeholder="City"
                        [ngClass]="{ 'is-invalid': submitted && f.city.errors }" maxlength="50" />
                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                        <div *ngIf="f.city.errors.required">City is required</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="text" formControlName="zipCode" class="form-control" placeholder="ZipCode"
                        [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors }" maxlength="10" />
                    <div *ngIf="submitted && f.zipCode.errors" class="invalid-feedback">
                        <div *ngIf="f.zipCode.errors.required">Zipcode is required</div>
                        <div *ngIf="f.zipCode.errors.pattern">Enter valid zipcode</div>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-group mb-3">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked
                    formControlName="setDefaultBillingAddress">
                <label class="form-check-label form-label" for="flexSwitchCheckChecked"> User this for billing
                    address as
                    default</label>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="tags" class="form-label">Tags</label>
            <tag-input formControlName="tags" class="form-control" placeholder="tags" [modelAsStrings]="true"
                [theme]="'dark'" [ngClass]="{ 'is-invalid': submitted && f.tags.errors }" maxlength="500"></tag-input>
            <div *ngIf="submitted && f.tags.errors" class="invalid-feedback">
                <div *ngIf="f.tags.errors.required">Tags is required</div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="status" class="form-label">Status</label>
            <select id="status" name="status" class="form-select" formControlName="status">
                <option value="A" selected>Active Customer</option>
                <option value="I">In-active Customer</option>
            </select>
        </div>
    </div>
    <div class="sidebar-popup-bottom offcanvas-footer">
        <button class="light-outlined-button outlined w-100" data-bs-dismiss="offcanvas" type="button">Cancel</button>
        <button [disabled]="loading" class="btn btn-primary w-100">
            <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
            Save
        </button>
    </div>
</form>