<div class="mt-20 table-middle-items-center">
    <table class="row-border">
        <thead>
            <tr>
                <th (click)="sortBy('name')">
                    Category Name{{sortIcon('name')}}
                </th>
                <th (click)="sortBy('totalServiceCount')">
                    Services{{sortIcon('totalServiceCount')}}
                </th>
                <th>
                    Status
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let catgeory of items">
                <td class="col-8 px-4">
                    <div class="table-service-info d-flex align-items-center gap-3">
                        <div>
                            <h4 class="font14 mb-1 font500">{{catgeory.name}}
                            </h4>
                            <p class="font14 mb-0  font-muted font400">{{catgeory.description}}</p>
                        </div>
                    </div>
                </td>
                <td>
                    {{catgeory.totalServiceCount}}
                </td>
                <td>
                    <div class="d-flex align-items-center justify-content-center">
                        <mat-slide-toggle [checked]="catgeory.status=='A' ? true:false"
                            (change)="onChange($event, catgeory)"></mat-slide-toggle>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center justify-content-end">
                        <button class="light-outlined-button sm-btn" (click)="editCategory(catgeory.categoryId)"><span
                                class="icon-edit-2"></span>
                            Edit</button>
                    </div>
                </td>
            </tr>
            <tr *ngIf="items.length==0 && !loading">
                <span>No data found</span>
            </tr>
        </tbody>
    </table>
</div>
<div class="card-footer pb-0 pt-3">
    <app-pagination [items]="items" [pageSize]="10" (changePage)="onChangePage($event)"></app-pagination>
</div>