<section class="inner-hero-section section-space-ptb">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <div class="inner-hero-contents">
                    <h1>Simplify Invoicing for <span>HVAC Contractors</span> with Effortless Efficiency</h1>
                    <p>Easily create detailed invoices post-job, accept secure online payments, and send automated
                        notifications for seamless and efficient payment management.
                    </p>
                    <div class="gap-4 d-flex">
                        <button class="btn btn-fill-primary py-3  px-4 font16 mt-3 rounded-pill">
                            Book a demo
                        </button>
                        <button
                            class="btn btn-outline-primary  py-3 text-primary  px-4 font16 mt-3  rounded-pill d-inline-flex align-items-center gap-2">
                            <span class="icon-call"></span> (263) 3849 3947
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="inner-hero-img">
                    <img src="../../assets/images/frontend/images/raw-img.png" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xl-6  mx-auto text-center">
                <div class="section-title-sec mb-5">
                    <p class="mb-3">how it work</p>
                    <h2>Effortless Invoicing with
                        <span>Blue Collar Engine</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-space-pb">
    <div class="container">
        <div class="row g-4 align-items-lg-center mt-4">
            <div class="col-lg-6">
                <div class="section-feature-image">
                    <img src="../../assets/images/frontend/images/raw-img.png" class="img-fluid" alt="" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-feature-content ps-5">
                    <div class="section-title2-sec mb-4">
                        <h3>Easy Invoice Creation
                        </h3>
                    </div>
                    <div class="mt-1">
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Quick Invoice Generation</h5>
                                <p class="font15 mb-0">Streamline appointment scheduling processes to maximize
                                    productivity and minimize downtime, empowering contractors to focus on core business
                                    tasks.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Pre-populated Job Details</h5>
                                <p class="font15 mb-0">Seamlessly coordinate job assignments and allocate resources with
                                    precision, ensuring efficient utilization of time and manpower resources for
                                    enhanced business productivity.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Professional Template</h5>
                                <p class="font15 mb-0">Effectively manage client appointments and schedules, reducing
                                    administrative burden and enabling contractors to maintain better control over their
                                    business operations.</p>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-fill-primary py-3  px-5 font16 mt-3 mt-sm-4 rounded-pill">
                        Learn more
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-space-pb">
    <div class="container">
        <div class="row g-4 align-items-lg-center mt-4">
            <div class="col-lg-6">
                <div class="section-feature-content pe-5">
                    <div class="section-title2-sec mb-4">
                        <h3>Online Payment Integration
                        </h3>
                    </div>
                    <div class="mt-1">
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Secure Payment Processing</h5>
                                <p class="font15 mb-0">Effectively Delegate Tasks and Monitor Progress in Real-Time for
                                    Enhanced Efficiency and Project Management.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Multiple Payment Options</h5>
                                <p class="font15 mb-0">Optimize Organizational Efficiency by Customizing Job Statuses to
                                    Suit Your Unique Business Needs and Workflow.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Real-Time Payment Tracking</h5>
                                <p class="font15 mb-0">Implement Efficient Workflow Streamlining Processes to Guarantee
                                    Timely Completion of Projects and Boost Overall Productivity.</p>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-fill-primary py-3  px-5 font16 mt-3 mt-sm-4 rounded-pill">
                        Learn more
                    </button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-feature-image">
                    <img src="../../assets/images/frontend/images/raw-img.png" class="img-fluid" alt="" />
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section-space-pb">
    <div class="container">
        <div class="row g-4 align-items-lg-center mt-4">
            <div class="col-lg-6">
                <div class="section-feature-image">
                    <img src="../../assets/images/frontend/images/raw-img.png" class="img-fluid" alt="" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-feature-content ps-5">
                    <div class="section-title2-sec mb-4">
                        <h3>Automated Notifications
                        </h3>
                    </div>
                    <div class="mt-1">
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Instant Invoice Alerts</h5>
                                <p class="font15 mb-0">Effortlessly create detailed and polished estimates tailored to
                                    your clients' needs, ensuring professionalism and accuracy in every proposal.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Payment Reminders</h5>
                                <p class="font15 mb-0">Personalize templates to match your brand and include
                                    comprehensive service descriptions for clear and transparent estimates.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="">
                                <span class="icon-tick fs-4"></span>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-2 font18">Status Updates</h5>
                                <p class="font15 mb-0">Seamlessly convert estimates into actionable jobs with integrated
                                    tools, streamlining your workflow for efficient project management and processing.
                                </p>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-fill-primary py-3  px-5 font16 mt-3 mt-sm-4 rounded-pill">
                        Learn more
                    </button>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="section-cta">
    <div class="container">
        <div class="p-5 pe-0 rounded-4 bg-blue-primary text-center ">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-6  mx-auto text-center">
                    <h2 class="mb-2">Schedule Your Demo Today!
                    </h2>
                    <p>Effortlessly Integrate Appointments with Your Calendar for Simple and Convenient Management.
                    </p>
                    <button class="btn btn-light py-3 mt-4 px-5 rounded-pill">
                        Book a demo <span class="icon-up-arrow rotate90Right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<app-faqs></app-faqs>
<app-cta-section></app-cta-section>
<app-news-and-blogs></app-news-and-blogs>