<div class="booking-title-section py-5">
    <div class="container-xxl">
        <h2 class="text-center">Schedule Online</h2>
    </div>
</div>
<div class="py-5">
    <div class="container-xxl">
        <h4 class="mb-15 font20">Select Service</h4>
        <div class="row gx-5" *ngFor="let catgeory of items;index as i">
            <div class="col-lg-4">
                <div class="nav flex-column nav-pills me-3 booking-services-lists" id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">
                    <button class="nav-link {{catgeory.categoryId==activeCategory ?'active':''}}"
                        (click)="activeTab(catgeory.categoryId)" attr.id="leftPanel_{{catgeory.categoryId}}_tab"
                        data-bs-toggle="pill" type="button" role="tab"
                        attr.data-bs-target="#leftPanel_{{catgeory.categoryId}}"
                        attr.aria-controls="leftPanel_{{catgeory.categoryId}}"
                        attr.aria-selected="{{i==0 ?'true':'false'}}">
                        <img src="../../../../../assets/images/svg-icons/air-conditioning-grey.svg"
                            alt="Air Conditioning" class="img-fluid inActiveCartInput" />
                        <img src="../../../../../assets/images/svg-icons/air-conditioning-blue.svg"
                            alt="Air Conditioning" class="img-fluid activeCartInput" />
                        <h4 class="font15"> {{catgeory.name}}</h4>
                    </button>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade {{catgeory.categoryId==activeCategory ?'show active':''}}"
                        attr.id="leftPanel_{{catgeory.categoryId}}" role="tabpanel"
                        attr.aria-labelledby="leftPanel_{{catgeory.categoryId}}_tab" tabindex="0">
                        <h4 class="mb-15 font20">{{catgeory.name}} Services </h4>
                        <div class="border rounded p-4">
                            <div class="booking-services-items"
                                *ngFor='let service of catgeory.categoryServices;index as j'>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <span class="grey-badge border-0 rounded-pill mb-2">Starts at ${{service.price |
                                            number : '1.2-2'}}</span>
                                        <h4 class="mb-3 font16">{{service.serviceName}}</h4>
                                        <p>{{service.description}}</p>
                                        <!-- <li class="font-muted font13 mb-2">Advanced Foam-jet cleaning of indoor unit
                                        </li>
                                        <li class="font-muted font13 mb-2">Thorough cleaning of outdoor unit</li>
                                        <li class="font-muted font13">Final checks & cleanup</li>
                                        </ul> -->
                                        <a class="text-decoration-underline font13">View Details</a>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="booking-services-item-img text-end"
                                            *ngIf="service.uploadedFiles.length == 0">
                                            <img src="./../../../../assets/images/services3.png" class="img-fluid" />
                                            <button class="btn btn-primary"
                                                (click)="addToCart($event, service.categoryServiceId)"
                                                [ngClass]="this.isAdded[service.categoryServiceId] ? 'btn-success added' : ''">{{isAdded[service.categoryServiceId]?'Added':'Add'}}</button>
                                        </div>
                                        <div class="booking-services-item-img text-end"
                                            *ngIf="service.uploadedFiles.length > 0">
                                            <img src="{{service.uploadedFiles[0].filePath}}" class="img-fluid sss"
                                                (error)="service.uploadedFiles[0].filePath = './../../../../assets/images/services3.png'" />
                                            <button class="btn btn-primary"
                                                (click)="addToCart($event, service.categoryServiceId)"
                                                [ngClass]="this.isAdded[service.categoryServiceId] ? 'btn-success added' : ''">{{isAdded[service.categoryServiceId]?'Added':'Add'}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-start mt-4">
            <button class="primary-filled-button px-5 lg-btn" type="button" data-bs-toggle="modal"
                data-bs-target="#book-service-modal" [disabled]="!isEnableNextBtn">Next</button>
        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade common-model-style" id="book-service-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Book Service</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="service-modal-wrapper">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="p-4 px-3">
                            <h5 class="mb-2 font14 font500">Select Date</h5>
                            <div class="service-modal-calendar mb-4">
                                <mat-card class="demo-inline-calendar-card">
                                    <mat-calendar [(selected)]="bookingDate" [minDate]="todayDate"
                                        (selectedChange)="onSelect($event)"></mat-calendar>

                                </mat-card>
                            </div>
                            <h5 class="mb-2 font14 font500">Select Available Time</h5>
                            <div class="service-modal-available-slots">
                                <mat-radio-group aria-label="Select an option" [(ngModel)]="bookingTime">
                                    <mat-radio-button [value]="timeSlot.businessHourId"
                                        *ngFor="let timeSlot of businessHours;index as i">{{timeSlot.openTime}}-{{timeSlot.closeTime}}</mat-radio-button>

                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 service-modal-right">
                        <div class="ps-3 p-4 d-flex flex-column h-100">
                            <div class="">
                                <div class="border-bottom mb-3 pb-3" *ngFor="let service of selectedServices">
                                    <span class="grey-badge border-0 rounded-pill mb-2">Starts at
                                        ${{service.price}}</span>
                                    <h4 class="mb-3 font16">{{service.serviceName}}</h4>
                                    <button class="light-outlined-button bg-white xs-btn mt-2 px-2" type="button"
                                        (click)="removeSelectedService(service.categoryServiceId)"> <span
                                            class="icon-edit"></span> Remove</button>
                                </div>
                            </div>
                            <div class="mt-auto">

                                <button class="primary-filled-button px-5 lg-btn w-100" type="submit"
                                    [disabled]="!isEnableNextBtn" (click)="proceedtoAddress()">Next</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<button class="primary-filled-button px-5 lg-btn w-100" type="submit" style="display:none;"
    data-bs-target="#book-service-modal2" data-bs-toggle="modal" #openBookingAddress></button>
<div class="modal fade common-model-style" id="book-service-modal2" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Book Service</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="service-modal-wrapper">
                <form [formGroup]="emailVerifyForm" (ngSubmit)="onVerifyEmail()">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="p-4 px-3">
                                <h5 class="mb-2 font14 font500 mt-4">Email address</h5>
                                <div class="form-group">
                                    <input type="text" placeholder="Enter email address" formControlName="emailAddress"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && e.emailAddress.errors }"
                                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" maxlength="200"
                                        [disabled]="isVerifyOtp">
                                        <button class="primary-filled-button px-5 sm-btn" type="button" (click)="enableEditEmail()"
                                        *ngIf="openVerifyOTP">Edit</button>
                                    <div *ngIf="submitted && e.emailAddress.errors" class="invalid-feedback">
                                        <div *ngIf="e.emailAddress.errors.required">Email address is required</div>
                                        <div *ngIf="e.emailAddress.errors.pattern">Enter valid email address</div>
                                    </div>
                                    <button class="primary-filled-button px-5 sm-btn" type="submit"
                                        *ngIf="!openVerifyOTP">Generate OTP</button>
                                </div>

                                <div class="form-group" *ngIf="openVerifyOTP">
                                    <input type="text" placeholder="Enter OTP" formControlName="otp"
                                        class="form-control" [ngClass]="{ 'is-invalid': submitted && e.otp.errors }"
                                        maxlength="6">
                                    <div *ngIf="submitted && e.otp.errors" class="invalid-feedback">
                                        <div *ngIf="e.otp.errors.required">OTP is required</div>
                                        <div *ngIf="e.otp.errors.pattern">Enter valid OTP</div>
                                    </div>
                                    <button class="primary-filled-button px-5 sm-btn" type="submit">Verify</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <form [formGroup]="calanderBookingForm" *ngIf="isVerifyOtp">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="p-4 px-3">
                                <h5 class="mb-2 font14 font500 mt-4">Customer Name</h5>
                                <div class="row g-3">
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <input type="text" placeholder="First Name" class="form-control"
                                                formControlName="firstName" maxlength="50"
                                                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                                <div *ngIf="f.firstName.errors.required">First name is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <input type="text" placeholder="Last Name" class="form-control"
                                                formControlName="lastName" maxlength="50"
                                                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                                <div *ngIf="f.lastName.errors.required">Last name is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="mb-2 font14 font500 mt-4">Phone Number</h5>
                                <div class="form-group">
                                    <input type="text" placeholder="Enter phone number" class="form-control"
                                        formControlName="phoneNumber" maxlength="10"
                                        [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
                                    <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                                        <div *ngIf="f.phoneNumber.errors.required">Phone number is required</div>
                                        <div *ngIf="f.phoneNumber.errors.pattern">Enter valid mobile number</div>
                                    </div>
                                </div>

                                <h5 class="mb-2 font14 font500">Service Address</h5>
                                <div class="form-group mb-3">
                                    <input type="text" formControlName="address" placeholder="Address"
                                        class="form-control mb-15" maxlength="500"
                                        [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                        <div *ngIf="f.address.errors.required">Service address is required</div>
                                    </div>
                                </div>
                                <!-- <div class="form-group  mb-3">
                                    <select id="state" name="Country" class="form-select">
                                        <option value="" disabled selected>Country</option>
                                        <option value="USA">USA</option>
                                    </select>
                                </div> -->
                                <div class="form-group mb-3">
                                    <select formControlName="state" class="form-select"
                                        [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                                        <option value="" disabled>Select State</option>
                                        <option value="California">California</option>
                                        <option value="Texas">Texas</option>
                                        <option value="Florida">Florida</option>
                                        <option value="New York">New York</option>
                                        <option value="Pennsylvania">Pennsylvania</option>
                                        <option value="Illinois">Illinois</option>
                                        <option value="Ohio">Ohio</option>
                                        <option value="Georgia">Georgia</option>
                                        <option value="North Carolina">North Carolina</option>
                                        <option value="Michigan">Michigan</option>
                                    </select>
                                    <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                        <div *ngIf="f.state.errors.required">State is required</div>
                                    </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <input type="text" formControlName="city" placeholder="City"
                                                class="form-control" maxlength="50"
                                                [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                                            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                                <div *ngIf="f.city.errors.required">City is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <input type="text" formControlName="zipCode" placeholder="Zip Code"
                                                class="form-control" maxlength="10"
                                                [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors }">
                                            <div *ngIf="submitted && f.zipCode.errors" class="invalid-feedback">
                                                <div *ngIf="f.zipCode.errors.required">Zip code is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 service-modal-right">
                                <div class="ps-3 p-4 d-flex flex-column h-100">
                                    <div class="">
                                        <div class="border-bottom mb-3 pb-3" *ngFor="let service of selectedServices">
                                            <span class="grey-badge border-0 rounded-pill mb-2">Starts at
                                                ${{service.price}}</span>
                                            <h4 class="mb-3 font16">{{service.serviceName}}</h4>
                                            <button class="light-outlined-button bg-white xs-btn mt-2 px-2"
                                                type="button"
                                                (click)="removeSelectedService(service.categoryServiceId)"> <span
                                                    class="icon-edit"></span> Remove</button>
                                        </div>
                                        <div class="d-flex align-items-start gap-3">
                                            <div class="fs-3">
                                                <span class="icon-calendar"></span>
                                            </div>
                                            <div class="">
                                                <p class="font14 mb-0 font-muted">Date & Time</p>
                                                <h4 class="font16 font600 my-1 ">{{businessHours[0].openTime}} -
                                                    {{businessHours[0].closeTime}}</h4>
                                                <p class="font14 mb-0 ">{{bookingDate | date:'mediumDate' }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-auto">
                                        <button class="primary-filled-button px-5 lg-btn w-100" type="submit">Book
                                            Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>