.booking-title-section {
  background-color: var(--light-blue);

  h2 {
    font-size: 35px;
  }
}

.booking-services-lists {
  button {
    cursor: pointer;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    margin-bottom: 25px;

    .activeCartInput {
      display: none;
    }

    h4 {
      margin-top: 15px;
      color: var(--light-info);
      font-weight: 400;
    }

    &.active {
      background-color: var(--light-blue);
      border: 1px solid var(--border-primary);

      .inActiveCartInput {
        display: none;
      }

      .activeCartInput {
        display: inline-block;
      }

      h4 {
        color: var(--primary);
      }
    }
  }
}

.booking-services-items {
  border-bottom: 1px solid var(--border-color2);
  margin-bottom: 25px;
  padding-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0;
  }

  .booking-services-item-img {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    button {
      font-size: 13px;
      margin-top: -18px;
    }

    .btn-outline-primary {
      background-color: var(--white);

      &:hover {
        background-color: var(--primary);
        color: var(--white);
      }
    }
  }
}

.service-modal-wrapper {
  padding: 0 12px;

  .service-modal-available-slots {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    button {
      width: calc(50% - 7.5px);
      height: 38px;
      font-size: 14px;

      &:hover {
        background-color: var(--light-primary);
      }
    }
  }

  .service-modal-right {
    background-color: var(--light);
  }
}

button:disabled {
  opacity: 0.3;
}
.ScheduleOnlineTopSection {
  position: sticky;
  top: 0;
  background: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  z-index: 9;
}
.booking-services-lists {
  max-height: 88vh;
  overflow-y: auto;
  display: block;
  position: sticky;
  top: 60px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
}
