<div class="mb-4">
    <div class="d-flex">
        <div class="">
            <h4 class="mb-1 font20">Tax Rates</h4>
            <p class="font14 mb-0 font-muted">Choose the hours and days of the week you would
                like the service to be active in.</p>
        </div>
        <div class="ms-auto">
            <button class="primary-filled-button  w-100" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#AddTaxRateSidebar" aria-controls="AddTaxRateSidebar"><span class="icon-add"></span>
                Add New</button>
        </div>
    </div>
</div>
<div class="mt-20 table-middle-items-center">
    <table class="row-border">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Rate%
                </th>
                <th>
                    Effective Date
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tax of taxes">
                <td class="col-6 px-3">
                    {{tax.name}}
                </td>
                <td>
                    {{tax.tax}}%
                </td>
                <td>
                    {{tax.effectiveDate | date:'mediumDate'}}
                </td>
                <td>
                    <div class="d-flex align-items-center justify-content-end">
                        <button class="light-outlined-button sm-btn"><span class="icon-edit-2"></span> Edit</button>
                    </div>
                </td>
            </tr>           
        </tbody>
    </table>
</div>

<div class="offcanvas offcanvas-end sidebar-popup" tabindex="-1" id="AddTaxRateSidebar"
    aria-labelledby="offcanvasRightLabel">
    <app-add-tax-rate></app-add-tax-rate>
</div>