<div class="offcanvas-header sidebar-popup-header">
    <h6 class="offcanvas-title" id="offcanvasRightLabel">{{userForm.value.teamId ==0 ?'Add New':'Edit Details'}} </h6>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" #addTeamMemberEle>
    </button>
</div>

<form class="sidebar-popup-inner" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="offcanvas-body">
        <div class="form-group mb-3">
            <label for="firstName" class="form-label">Full Name</label>
            <input type="text" formControlName="firstName" class="form-control mb-3" placeholder="First name"
                maxlength="50" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First name is required</div>
            </div>
            <input type="text" class="form-control" placeholder="Last name" formControlName="lastName" maxlength="50"
                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last name is required</div>
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="mobileNumber" class="form-label">Mobile No.</label>
            <input type="text" class="form-control" placeholder="Mobile number" formControlName="mobileNo"
                maxlength="20" [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }" appPhoneMask />
            <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
                <div *ngIf="f.mobileNo.errors.required">Mobile no. is required</div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="alternativemobileNumber" class="form-label">Alternative Number</label>
            <input type="text" class="form-control" placeholder="Alternative mobile number"
                formControlName="alternateNo" maxlength="20"
                [ngClass]="{ 'is-invalid': submitted && f.alternateNo.errors }" appPhoneMask />
            <div *ngIf="submitted && f.alternateNo.errors" class="invalid-feedback">
                <div *ngIf="f.alternateNo.errors.required">Alternative no. is required</div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="text" class="form-control" placeholder="Email address" maxlength="200"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" formControlName="emailAddress"
                [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }" />
            <div *ngIf="submitted && f.emailAddress.errors" class="invalid-feedback">
                <div *ngIf="f.emailAddress.errors.required">Email address is required</div>
                <div *ngIf="f.emailAddress.errors.pattern">Enter valid email address</div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="fname" class="form-label">Address</label>
            <input type="text" class="form-control mb-3" placeholder="Service Address" maxlength="500"
                formControlName="address" maxlength="50" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Address is required</div>
            </div>
            <div class="row g-3">
                <div class="col-md-6 ">
                    <select id="state" formControlName="state" class="form-select"
                        [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                        <option value="">Select</option>
                        <option value="{{state.text}}" *ngFor="let state of states">{{state.value}}
                        </option>
                    </select>
                    <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                        <div *ngIf="f.state.errors.required">State is required</div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <input type="text" class="form-control" placeholder="City" maxlength="50" formControlName="city"
                        maxlength="50" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                        <div *ngIf="f.city.errors.required">City is required</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="ZipCode" maxlength="10"
                        formControlName="zipCode" maxlength="50"
                        [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors }" />
                    <div *ngIf="submitted && f.zipCode.errors" class="invalid-feedback">
                        <div *ngIf="f.zipCode.errors.required">Zipcode is required</div>
                        <div *ngIf="f.zipCode.errors.pattern">Enter valid zipcode</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="designation" class="form-label">Roles</label>
            <select id="designation" name="designation" class="form-select" formControlName="designation"
                [ngClass]="{ 'is-invalid': submitted && f.designation.errors }">
                <option value="">Select</option>
                <option value="AC Maintenance">AC Maintenance</option>
                <option value="Mechanical Aptitude">Mechanical Aptitude</option>
            </select>
            <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
                <div *ngIf="f.designation.errors.required">Designation is required</div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="status" class="form-label">Status</label>
            <select id="status" name="status" class="form-select" formControlName="status" maxlength="50"
                [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                <option value="">Select</option>
                <option value="A">Active</option>
                <option value="I">In-Active</option>
            </select>
            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                <div *ngIf="f.status.errors.required">Status is required</div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="uploadPhoto" class="form-label">Upload Photo</label>
            <div class="uploadPhotoFormWrapper" id="uploadPhoto">
                <input type="file" accept="image/*" (change)="selectFiles($event)" />
                <div class="d-flex align-items-center w-100 h-100 justify-content-center flex-column text-center">
                    <span class="icon-attachment fs-5 mb-1"></span>
                    <div class="font14 font400">Choose file to upload</div>
                    <div class="font10 font-muted font300">Supported format: PNG, JPG, JPEG</div>
                </div>
            </div>
            <div class="uploadedPhotoWrapper">
                <div class="uploadedImagesItem" *ngFor='let preview of previews;index as i'>
                    <button type="button" class="btn" (click)="removeTeamImg(preview.index, preview.uploadId)">
                        <span class="icon-close-1"></span>
                    </button>
                    <img [src]="preview.filePath" class="preview img-fluid p-2"
                        (error)="'../../../../assets/images/blank-img.png'">
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-popup-bottom offcanvas-footer">
        <button class="light-outlined-button outlined w-100" data-bs-dismiss="offcanvas" type="button">Cancel</button>
        <button class="primary-filled-button px-5">
            <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span> -->
            Save Changes
        </button>
    </div>
</form>