
<header class="main-header">
    <div class="top-header-bar">
        <div class="container">
            <p class="mb-0">$10,000 grants for home service heroes.<a href="#">Apply Now!</a></p>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light header-navigation">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center navbar-logo" href="/">
                <img src="../../../assets/images/frontend/images/logo.svg">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Features </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Price</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Company</a>
                    </li>
                </ul>
                <div class="top-menu-right">
                    <a href="tel:3478493436" class="top-right-call">
                        <span class="icon-call"></span> (347) 849-3436
                    </a>
                    <a href="javascript:void(0);" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/login']" class="btn btn-outline-primary">Login</a>
                    <a href="javascript:void(0);" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/online-request-demo']" class="btn btn-fill-primary">Get Demo</a>
                </div>

            </div>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>
<section class="section-space-ptb section-faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 pe-lg-5">
                <div class="section-feature-content">
                    <div class="section-title-sec mb-sm-3">
                        <h2>Frequently asked <span> questions</span>
                        </h2>
                    </div>
                    <p>Let us know if you have any other questions, our team is always happy to help!</p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="accordion accordion-flush discover-accordion-section " id="accordionFlushExample">
                    <div class="accordion-item opened">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                How do I schedule an appointment with Blue Collar Engine?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>Scheduling an appointment is easy! Simply visit our website and click on the
                                    "Schedule Appointment"
                                    button. From there, you can choose your preferred date and time, and one of our
                                    representatives will
                                    confirm your appointment shortly.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                What services does Blue Collar Engine offer?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the
                                    industry's standard dummy text ever since the 1500s</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                Is Blue Collar Engine compatible with my existing HVAC software?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the
                                    industry's standard dummy text ever since the 1500s</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                                How secure is my data with Blue Collar Engine?
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the
                                    industry's standard dummy text ever since the 1500s</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive" aria-expanded="false"
                                aria-controls="flush-collapseFive">
                                Can I customize Blue Collar Engine to fit my specific business needs?
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the
                                    industry's standard dummy text ever since the 1500s</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer-section">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-12 footer-column mb-4 mb-lg-0">
            <h5 class="ft-title">Contact Us</h5>
            <ul>
              <li>
                <a href="tel:3478493436"> <span class="icon-call"></span> (347)
                  849-3436</a>
              </li>
              <li><a href="#">
                  <span class="icon-email"></span>
                  info@bluecollarengine.com</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-4 mb-4 mb-md-0 footer-column">
            <h5 class="ft-title">Features</h5>
            <ul>
              <li><a href="#">Online Scheduling</a></li>
              <li><a href="#">Job Management</a></li>
              <li><a href="#">Estimate</a></li>
              <li><a href="#">Invoicing</a></li>
              <li><a href="#">Price Book</a></li>
            </ul>
          </div>
          <div class="col-lg-3  col-md-4 mb-4 mb-md-0 footer-column">
            <h5 class="ft-title">Resources</h5>
            <ul>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">News & Press</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Terms and Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-4 mb-4 mb-md-0 footer-column">
            <h5 class="ft-title">Company</h5>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Partners</a></li>
              <li><a href="#">Affiliates</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row align-items-center ">
          <div class="col-md-6 order-2 order-md-1 text-center text-md-start">
            <p class="mb-0 text-white font300">© Copyright 2024 Blue Collar Engine. All Rights Reserved</p>
          </div>
          <div class="col-md-6 order-1  order-md-2">
            <ul class="footer-social-links">
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>