<div class="page-title-box items-center">
    <div class="container-xxl">
        <div class="d-flex items-center">
            <h4 class="page-title">Dashboard</h4>
            <div class="page-title-right d-flex align-items-center gap-3 ms-auto">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle gap-2" data-bs-toggle="dropdown"
                        data-bs-display="static" aria-expanded="false">
                        <span class="icon-add font12"></span>
                        Add New
                        <span class="icon-down-arrow"></span>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-end">
                        <!-- <li><a href="javascript:void(0);">
                                Create Booking</a>
                        </li> -->
                        <li><a href="/admin/create-estimate">
                                Create Estimate</a>
                        </li>
                        <li><a href="/admin/create-invoice">
                                Create Invoice</a>
                        </li>
                    </ul>
                </div>
                <button type="button" class="btn btn-primary  gap-2" data-bs-toggle="modal"
                    data-bs-target="#onboardModel">
                    Open On-Board
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade onBoardModelStyle" id="onboardModel" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="diablog-header">
                <h3>Welcome to Blue Collar Engine!</h3>
                <p class="font-muted mt-2">To get started, we need to set up a few things.</p>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="px-md-5 pb-md-5 px-4 pb-4">
                <div class="my-4 border rounded p-4">
                    <div class="onBoardModelListItem">
                        <div class="d-flex align-items-center gap-3">
                            <div class="lightGrayBox ">
                                <span class="icon-time fs-5"></span>
                            </div>
                            <div class="">
                                <h4 class="font16 font500 text-black">Business Hours</h4>
                                <p class="font14 mb-0 font-muted">Please update the business hours </p>
                            </div>
                        </div>
                        <div class="ms-auto">
                            <span class="icon-tick text-success fs-3"></span>
                        </div>
                    </div>
                    <div class="onBoardModelListItem">
                        <div class="d-flex align-items-center gap-3">
                            <div class="lightGrayBox ">
                                <span class="icon-list fs-5"></span>
                            </div>
                            <div class="">
                                <h4 class="font16 font500 text-black">Services</h4>
                                <p class="font14 mb-0 font-muted">Please update the business hours </p>
                            </div>
                        </div>
                        <button class="ms-auto btn btn-primary">Update Now</button>
                    </div>
                    <div class="onBoardModelListItem">
                        <div class="d-flex align-items-center gap-3">
                            <div class="lightGrayBox ">
                                <span class="icon-team fs-5"></span>
                            </div>
                            <div class="">
                                <h4 class="font16 font500 text-black">Team Setup</h4>
                                <p class="font14 mb-0 font-muted">Please update the business hours </p>
                            </div>
                        </div>
                        <button class="ms-auto btn btn-primary">Update Now</button>
                    </div>
                    <div class="onBoardModelListItem">
                        <div class="d-flex align-items-center gap-3">
                            <div class="lightGrayBox ">
                                <span class="icon-invoice fs-5"></span>
                            </div>
                            <div class="">
                                <h4 class="font16 font500 text-black">Invoice Settings</h4>
                                <p class="font14 mb-0 font-muted">Please update the business hours </p>
                            </div>
                        </div>
                        <button class="ms-auto btn btn-primary">Update Now</button>
                    </div>
                    <div class="onBoardModelListItem">
                        <div class="d-flex align-items-center gap-3">
                            <div class="lightGrayBox ">
                                <span class="icon-operations fs-5"></span>
                            </div>
                            <div class="">
                                <h4 class="font16 font500 text-black">Payment Gateway</h4>
                                <p class="font14 mb-0 font-muted">Please update the business hours </p>
                            </div>
                        </div>
                        <button class="ms-auto btn btn-primary">Update Now</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl">
    <div class="py-4">
        <div class="d-flex align-items-center">
            <h3 class="mb-0 font20">Quick Overview</h3>
            <div class="ms-auto">
                <mat-form-field class="muiDatePickerFromField " (click)="picker.open()">
                    <!-- <mat-label>Select Date range</mat-label> -->
                    <mat-date-range-input [rangePicker]="picker" [formGroup]="dashboardRagePickerForm"
                        [comparisonStart]="dashboardRagePickerForm.value.start"
                        [comparisonEnd]="dashboardRagePickerForm.value.end">
                        <input matStartDate formControlName="start" placeholder="Start date">
                        <input matEndDate formControlName="end" placeholder="End date"
                            (dateChange)="rangeChangeEvent()">
                    </mat-date-range-input>
                    <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
        </div>
        <div class="border rounded mt-2 overflow-hidden">
            <div class="border-bottom px-4">
                <div class="row">
                    <div class="col-3">
                        <div class="py-4">
                            <p class="mb-0 font14 font-muted font500">Booking</p>
                            <h4 class="my-2">{{stats?.totalBookingCount}}</h4>
                            <!-- <p class="mb-0 font14 font-muted font500">Conversion Rate</p> -->
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="py-4">
                            <p class="mb-0 font14 font-muted font500">Total Revenue</p>
                            <h4 class="my-2">${{stats?.totalRevenueAmt | number : '1.2-2'}}</h4>
                            <!-- <p class="mb-0 font14 font-muted font500">Average booking</p> -->
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="py-4">
                            <p class="mb-0 font14 font-muted font500">Estimate</p>
                            <h4 class="my-2">{{stats?.totalEstimateCount}}</h4>
                            <!-- <p class="mb-0 font14 font-muted font500">Conversion Rate</p> -->
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="py-4">
                            <p class="mb-0 font14 font-muted font500">Invoice</p>
                            <h4 class="my-2">{{stats?.totalInvoiceCount}}</h4>
                            <!-- <p class="mb-0 font14 font-muted font500">Payment Rate</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="">
                <img src="../../../assets/images/dashboard-graph.png" class="img-fluid" />
            </div> -->
            <div id="container"></div>
        </div>
    </div>
    <div class="py-4">
        <div class="row gx-lg-5">
            <div class="col-lg-4">
                <div class="d-flex align-items-center mb-3">
                    <div
                        class="ShapeCircle32 bg-primary bg-opacity-10 d-flex align-items-center justify-content-center">
                        <span class="icon-job text-primary"></span>
                    </div>
                    <h4 class="font18 ms-2 font600">Today’s Booking</h4>
                    <a href="/admin/bookings" class="ms-auto font14">View All</a>
                </div>
                <div class="border rounded">
                    <div class="p-3 border-bottom" *ngFor="let booking of todayBooking">
                        <div class="d-flex gap-3 mb-2">
                            <span class="grey-badge"><span class="icon-time"></span> {{booking.bookingTime}}</span>
                            <button class="danger-badge" type="button">{{booking.statusText}}</button>
                        </div>
                        <h4 class="font16 mb-1">{{booking.customerName}}</h4>
                        <p class="font14 mb-0 font-muted">{{booking.address}}, {{booking.city}}, {{booking.state}},
                            {{booking.zipCode}}</p>
                    </div>
                    <div *ngIf="todayBooking.length==0 && !todayBookingLoaded" class="p-3 text-center">
                        <span>No data found</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex align-items-center mb-3">
                    <div class="ShapeCircle32 lightYellowBox2 d-flex align-items-center justify-content-center">
                        <span class="icon-estimate"></span>
                    </div>
                    <h4 class="font18 ms-2 font600">Latest Estimate Invoices</h4>
                    <a href="/admin/estimate" class="ms-auto font14">View All</a>
                </div>
                <div class="border rounded">
                    <div class="p-3 border-bottom" *ngFor="let estimate of estimateInvoices">
                        <div class="d-flex gap-3 mb-2">
                            <span class="grey-badge"><span class="icon-calendar"></span> {{estimate.createdDate |
                                date:'mediumDate'}}</span>
                            <button class="warning-badge" type="button">{{estimate.status}}</button>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <h4 class="font16 mb-1">{{estimate.firstName}} {{estimate.lastName}}</h4>
                            <h4 class="font16 mb-1 ms-auto">${{estimate.totalAmount | number : '1.2-2'}}</h4>
                        </div>
                        <p class="font14 mb-0 font-muted">{{estimate.serviceAddress}}</p>
                    </div>
                    <div *ngIf="estimateInvoices.length==0 && !estimateInvoiceLoaded" class="p-3 text-center">
                        <span>No data found</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex align-items-center mb-3">
                    <div class="ShapeCircle32 lightGreenBox d-flex align-items-center justify-content-center">
                        <span class="icon-invoice"></span>
                    </div>
                    <h4 class="font18 ms-2 font600">Latest Invoices</h4>
                    <a href="/admin/invoice" class="ms-auto font14">View All</a>
                </div>
                <div class="border rounded">
                    <div class="p-3 border-bottom" *ngFor="let invoice of invoices">
                        <div class="d-flex gap-3 mb-2">
                            <span class="grey-badge"><span class="icon-calendar"></span> {{invoice.createdDate |
                                date:'mediumDate'}}</span>
                            <button class="warning-badge">{{invoice.status}}</button>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <h4 class="font16 mb-1">{{invoice.firstName}} {{invoice.lastName}}</h4>
                            <h4 class="font16 mb-1 ms-auto">${{invoice.totalAmount | number : '1.2-2'}}</h4>
                        </div>
                        <p class="font14 mb-0 font-muted">{{invoice.serviceAddress}}</p>
                    </div>
                    <div *ngIf="invoices.length==0 && !invoiceLoaded" class="p-3 text-center">
                        <span>No data found</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-4">
        <div class="row gx-lg-5">
            <div class="col-lg-7">
                <h4 class="font18 font600 mb-3">Top Technician </h4>
                <div class="mt-20 ">
                    <table class="row-border ">
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Revenue</th>
                                <th>Sales</th>
                                <th>Sucess Rate</th>
                                <th>Customer Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tech of technician">
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <div class="ShapeCircle20">
                                            <img [src]="tech.profileImagePath" class="img-fluid rounded-2"
                                                (error)="tech.profileImagePath = '../../../../assets/images/blank-img.png'">
                                        </div>
                                        {{tech.fullName}}
                                    </div>
                                </td>
                                <td>${{tech.totalRevenue | number : '1.2-2'}}</td>
                                <td>{{tech.totalSalesCount}}</td>
                                <td>{{tech.successRate}}%</td>
                                <td>
                                    <div class="d-flex gap-2 align-items-center justify-content-center custom-star">
                                        <app-star-rating [rating]="rating" [starCount]="starCount" [color]="starColor"
                                            (ratingUpdated)="onRatingChanged($event)"></app-star-rating>
                                        <!-- <span class="icon-notification"></span>
                                        <span class="icon-notification"></span>
                                        <span class="icon-notification"></span>
                                        <span class="icon-notification"></span>
                                        <span class="icon-notification"></span> -->
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="technician.length==0 && !technicianLoaded">
                                <td class="text-center" colspan="4">
                                    <span>No data found</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-5">
                <h4 class="font18 font600">Popular Service</h4>
                <div class="mt-20 ">
                    <table class="row-border ">
                        <thead>
                            <tr>
                                <th>Service Name</th>
                                <th>Sales</th>
                                <th>Revenue</th>
                                <th>Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let service of topServices">
                                <td> {{service.serviceName}} </td>
                                <td>{{service.totalSalesCount}}</td>
                                <td>${{service.totalRevenue | number : '1.2-2'}}</td>
                                <td>
                                    <div class="d-flex gap-2 align-items-center justify-content-center custom-star">
                                        <app-star-rating [rating]="rating" [starCount]="starCount" [color]="starColor"
                                            (ratingUpdated)="onRatingChanged($event)"></app-star-rating>
                                        <!-- <span class="icon-notification"></span>
                                        <span class="icon-notification"></span>
                                        <span class="icon-notification"></span>
                                        <span class="icon-notification"></span>
                                        <span class="icon-notification"></span> -->
                                    </div>
                                </td>

                            </tr>
                            <tr *ngIf="topServices.length==0 && !topServicesLoaded">
                                <td class="text-center" colspan="4">
                                    <span>No data found</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>