.recent-wrapper{
    height: 300px;
    overflow: scroll;

    .recentListing{
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
    
        &:last-child{
            border-bottom: none !important;
        }
    }
}
.popularSection{
    overflow: hidden;

    table{
        border: none;

        tr:last-child{
            border-bottom: none;
        }
    }
}

.techImage{
    width: 40px; height: 40px;
    border-radius: 100px; border: 1px solid var(--bs-border-color);
    overflow: hidden;

    img{
        width: 100%; height: auto;
    }
}