<div class="page-title-box items-center sticky-top">
    <div class="container-xxl">
        <div class="d-flex items-center">
            <h4 class="page-title">Dashboard</h4>
            <div class="page-title-right d-flex align-items-center gap-3 ms-auto">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle gap-2" data-bs-toggle="dropdown"
                        data-bs-display="static" aria-expanded="false"><span class="icon-add font12"></span> Add New<span class="icon-down-arrow"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a href="/admin/create-estimate">Create Estimate</a></li>
                        <li><a href="/admin/create-invoice">Create Invoice</a></li>
                        <li><a href="#">Add Customer</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl">
    <div class="row py-4">
        <div class="col-3">
            <div class="py-2 px-4 border rounded">
                <h4 class="my-1">{{stats?.totalBookingCount}}</h4>
                <p class="mb-0 font13 font-muted">Total Booking</p>
            </div>
        </div>
        <div class="col-3">
            <div class="py-2 px-4 border rounded">
                <h4 class="my-1">{{stats?.totalEstimateCount}}</h4>
                <p class="mb-0 font13 font-muted">Total Estimate</p>
            </div>
        </div>
        <div class="col-3">
            <div class="py-2 px-4 border rounded">
                <h4 class="my-1">{{stats?.totalInvoiceCount}}</h4>
                <p class="mb-0 font13 font-muted">Total Invoice</p>
            </div>
        </div>
        <div class="col-3">
            <div class="py-2 px-4 border rounded">
                <h4 class="my-1">${{stats?.totalRevenueAmt | number : '1.2-2'}}</h4>
                <p class="mb-0 font13 font-muted">Total Revenue</p>
            </div>
        </div>
    </div>

    <div class="mb-5">
        <div class="d-flex align-items-center">
            <h3 class="mb-0 font15">Quick Overview</h3>
            <div class="ms-auto">
                <mat-form-field class="muiDatePickerFromField " (click)="picker.open()">
                    <mat-date-range-input [rangePicker]="picker" [formGroup]="dashboardRagePickerForm"
                        [comparisonStart]="dashboardRagePickerForm.value.start"
                        [comparisonEnd]="dashboardRagePickerForm.value.end">
                        <input matStartDate formControlName="start" placeholder="Start date">
                        <input matEndDate formControlName="end" placeholder="End date"
                            (dateChange)="rangeChangeEvent()">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
        </div>
        <div class="border rounded mt-2">
            <div id="chart">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                    [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                    [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend" [fill]="chartOptions.fill"
                    [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"
                    [xaxis]="chartOptions.xaxis">
                </apx-chart>
            </div>
            <!--
                <div id="pie-chart">
                    <apx-chart [series]="pieChartOptions.series" [chart]="pieChartOptions.chart"
                        [labels]="pieChartOptions.labels" [responsive]="pieChartOptions.responsive">
                    </apx-chart>
                </div>
            -->
        </div>
    </div>

    <div class="mb-5">
        <div class="row gx-4">
            <div class="col-lg-4">
                <div class="d-flex align-items-center mb-1">
                    <div class="font15 font600">Recent Booking</div>
                    <a href="/admin/bookings" class="ms-auto font13">View All</a>
                </div>
                <div class="border rounded recent-wrapper">
                    <div class="p-3 recentListing" *ngFor="let booking of todayBooking">
                        <div class="d-flex gap-3 mb-1">
                            <span class="grey-badge gap-2 d-flex align-items-center"><span class="icon-time"></span> {{booking.bookingTime}}</span>
                            <button [ngClass]="{'warning-badge': booking.status === 'U', 'primary-badge' : booking.status === 'A','success-badge' : booking.status === 'C' }" type="button">{{booking.statusText}}</button>
                        </div>
                        <div class="font14 mb-0 font500">{{booking.customerName}}</div>
                        <div class="font13 mb-0 font-muted">{{booking.address}}, {{booking.city}}, {{booking.state}}, {{booking.zipCode}}</div>
                    </div>
                    <div *ngIf="todayBooking.length==0 && !todayBookingLoaded" class="d-flex flex-column h-100 text-center align-items-center justify-content-center">
                        <img src="../../../assets/images/no-data-found.svg" alt="image" class="no-data-found-img"/>
                        <span class="font-muted font14 text-center">Currently, there are no bookings to show.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex align-items-center mb-1">
                    <div class="font15 font600">Recent Estimate</div>
                    <a href="/admin/estimate" class="ms-auto font13">View All</a>
                </div>
                <div class="border rounded recent-wrapper">
                    <div class="p-3 recentListing" *ngFor="let estimate of estimateInvoices">
                        <div class="d-flex gap-3 mb-1">
                            <span class="grey-badge gap-2 d-flex align-items-center">
                                <span class="icon-calendar"></span> {{estimate.createdDate | date:'mediumDate'}}
                            </span>
                            <button [ngClass]="{'grey-badge': estimate.status === 'Draft', 'warning-badge' : estimate.status === 'Sent'}" type="button">{{estimate.status}}</button>
                        </div>
                        <div class="d-flex align-items-top justify-content-between gap-3">
                            <div class="d-flex flex-column align-items-start justify-content-center">
                                <div class="font14 mb-0 font500">{{estimate.firstName}} {{estimate.lastName}}</div>
                                <div class="font13 mb-0 font-muted">{{estimate.serviceAddress}}</div>
                            </div>
                            <div>
                                <div class="font14 mb-1 ms-auto font500">${{estimate.totalAmount | number : '1.2-2'}}</div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="estimateInvoices.length==0 && !estimateInvoiceLoaded" class="d-flex flex-column h-100 text-center align-items-center justify-content-center">
                        <img src="../../../assets/images/no-data-found.svg" alt="image" class="no-data-found-img"/>
                        <span class="font-muted font14 text-center">Currently, there are no estimates to show.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex align-items-center mb-1">
                    <div class="font15 font600">Recent Invoice</div>
                    <a href="/admin/invoice" class="ms-auto font13">View All</a>
                </div>
                <div class="border rounded recent-wrapper">
                    <div class="p-3 recentListing" *ngFor="let invoice of invoices">
                        <div class="d-flex gap-3 mb-1">
                            <span class="grey-badge gap-2 d-flex align-items-center">
                                <span class="icon-calendar"></span> {{invoice.createdDate | date:'mediumDate'}}
                            </span>
                            <button [ngClass]="{'grey-badge': invoice.status === 'Draft', 'warning-badge' : invoice.status === 'Sent', 'success-badge' : invoice.status === 'Paid'}">{{invoice.status}}</button>
                        </div>
                        <div class="d-flex align-items-top justify-content-between gap-3">
                            <div class="d-flex flex-column align-items-start justify-content-center">
                                <div class="font14 mb-0 font500">{{invoice.firstName}} {{invoice.lastName}}</div>
                                <div class="font13 mb-0 font-muted">{{invoice.serviceAddress}}</div>
                            </div>
                            <div>
                                <div class="font14 mb-1 ms-auto font500">${{invoice.totalAmount | number : '1.2-2'}}</div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="invoices.length==0 && !invoiceLoaded" class="d-flex flex-column h-100 text-center align-items-center justify-content-center">
                        <img src="../../../assets/images/no-data-found.svg" alt="image" class="no-data-found-img"/>
                        <span class="font-muted font14 text-center">Currently, there are no invoices to show.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-5">
        <div class="row gx-4">
            <div class="col-lg-7">
                <div class="d-flex align-items-center mb-1">
                    <div class="font15 font600">Top Technicians</div>
                    <!-- <a href="#" class="ms-auto font13">View All</a> -->
                </div>
                <div class="border rounded popularSection">
                    <table class="row-border">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Revenue</th>
                                <th>Sales</th>
                                <th>Job Sucess</th>
                                <th class="text-end">Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tech of technician">
                                <td>
                                    <div class="d-flex align-items-top gap-2">
                                        <div class="tech-image">
                                            <img [src]="tech.profileImagePath" (error)="tech.profileImagePath = '../../../../assets/images/blank-img.png'">
                                        </div>
                                        <div class="d-flex flex-column">
                                            {{tech.fullName}}
                                            <span class="tech-role">{{tech.designation}}</span>
                                        </div>
                                    </div>
                                </td>
                                <td>${{tech.totalRevenue | number : '1.2-2'}}</td>
                                <td>{{tech.totalSalesCount}}</td>
                                <td>{{tech.successRate}}%</td>
                                <td>
                                    <span class="success-badge">{{tech.averageRating}}/5</span>
                                </td>
                            </tr>
                            <tr *ngIf="technician.length==0 && !technicianLoaded">
                                <td class="text-center" colspan="4">
                                    <div class="d-flex flex-column h-100 text-center align-items-center justify-content-center">
                                        <img src="../../../assets/images/no-data-found.svg" alt="image" class="no-data-found-img"/>
                                        <span class="font-muted font14 text-center">Currently, there are no technicians to show.</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="d-flex align-items-center mb-1">
                    <div class="font15 font600">Top Services</div>
                    <!-- <a href="#" class="ms-auto font13">View All</a> -->
                </div>
                <div class="border rounded popularSection">
                    <table>
                        <thead>
                            <tr>
                                <th>Service Name</th>
                                <th>Sales</th>
                                <th class="text-end">Revenue</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let service of topServices">
                                <td>{{service.serviceName}}</td>
                                <td>{{service.totalSalesCount}}</td>
                                <td>${{service.totalRevenue | number : '1.2-2'}}</td>
                            </tr>
                            <tr *ngIf="topServices.length==0 && !topServicesLoaded">
                                <td class="text-center" colspan="4">
                                    <div class="d-flex flex-column h-100 text-center align-items-center justify-content-center">
                                        <img src="../../../assets/images/no-data-found.svg" alt="image" class="no-data-found-img"/>
                                        <span class="font-muted font14 text-center">Currently, there are no services to show.</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>