<div class="page-title-box items-center">
    <div class="container-xxl">
        <div class="d-flex items-center">
            <h4 class="page-title">Dashboard</h4>
            <div class="page-title-right d-flex align-items-center gap-3 ms-auto">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle gap-2" data-bs-toggle="dropdown"
                        data-bs-display="static" aria-expanded="false">
                        <span class="icon-add font12"></span>
                        Add New
                        <span class="icon-down-arrow"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a href="javascript:void(0);"><span class="icon-add"></span>
                                Add New 1</a>
                        </li>
                        <li><a href="javascript:void(0);">
                                <span class="icon-add"></span> Add New 2</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl">
    <div class="py-4">
        <div class="d-flex align-items-center">
            <h3 class="mb-0 font20">Quick Overview</h3>
            <div class="ms-auto">
                <input type="date" id="date" name="date" placeholder="Select date..." class="form-control">
            </div>
        </div>
        <div class="border rounded mt-2">
            <div class="border-bottom px-4">
                <div class="row">
                    <div class="col-3">
                        <div class="py-4">
                            <p class="mb-0 font14 font-muted font500">Booking</p>
                            <h4 class="my-2">90%</h4>
                            <p class="mb-0 font14 font-muted font500">Conversion Rate</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="py-4">
                            <p class="mb-0 font14 font-muted font500">Total Revenue</p>
                            <h4 class="my-2">$2,3458</h4>
                            <p class="mb-0 font14 font-muted font500">Average booking</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="py-4">
                            <p class="mb-0 font14 font-muted font500">Estimate</p>
                            <h4 class="my-2">75%</h4>
                            <p class="mb-0 font14 font-muted font500">Conversion Rate</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="py-4">
                            <p class="mb-0 font14 font-muted font500">Invoice</p>
                            <h4 class="my-2">90%</h4>
                            <p class="mb-0 font14 font-muted font500">Payment Rate</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <img src="../../../assets/images/dashboard-graph.png" class="img-fluid" />
            </div>
        </div>
    </div>
</div>