<header class="payment-success-header" *ngIf="!hideSubmitBtn">
    <div class="container">
        <div class="d-flex align-items-center">
            <a class="navbar-brand d-flex align-items-center navbar-logo" href="/">
                <img src="{{tenantInfo?.companyImagePath}}" alt="" class="img-fluid" (error)="setDefaultPic()" />
            </a>
            <div class="ms-auto">
                <button
                    class="light-outlined-button py-2 text-black  font500 px-3 font16  rounded-pill d-inline-flex align-items-center gap-2">
                    <span class="icon-call"></span>
                    {{tenantInfo?.phoneNumber | usMobileNo}}
                </button>
            </div>
        </div>
    </div>
</header>
<section class="payment-success-inner" *ngIf="!hideSubmitBtn">
    <div class="container">
        <div class="payment-success-top text-center">
            <div class="icon">
                <img src="../../../assets/images/frontend/images/tick.png" class="img-fluid" />
            </div>
            <h2>Your payment was successful</h2>
            <p>Thank you for your payment.</p>
        </div>
        <div class="row" *ngIf="ratingForm.value.bookingId > 0">
            <div class="col-lg-8 mx-auto">
                <div class="bg-light border mt-4 rounded p-4">
                    <form class="payment-success-feedback" [formGroup]="ratingForm" (ngSubmit)="onSubmit()">
                        <h2>Customer Feedback</h2>
                        <p class="font18 text-black">How would you rate our technicians for the service they provided?
                        </p>
                        <app-star-rating [rating]="rating" [starCount]="starCount" [color]="starColor"
                            (ratingUpdated)="onRatingChanged($event)"  [customDisable]="starDisable"></app-star-rating>
                        <p class="font18 text-black mt-3">Is there anything else you'd like us to share with us?</p>
                        <textarea placeholder="Enter here" class="form-control" rows="5" maxlength="4000"
                            formControlName="feedback">

                        </textarea>
                        <button class="btn px-5 mt-4 font18 py-2">Send Feedback</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>