<section class="bg-light py-5">
    <div class="container">
        <div class="bredcrumb-inner-contents text-center">
            <h1 class="mb-2">Privacy Policy </h1>
            <p>Last Updated Date: February 29, 2024 </p>
        </div>
    </div>
</section>

<div class="page-site-content py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h4 class="mb-2 fs-5">1. Introduction</h4>
                <p>Blue Collar is committed to protecting your privacy. This Privacy Policy explains how we collect,
                    use, disclose, and safeguard your information when you use our application. </p>

                <h4 class="mb-2 fs-5">2. Information We Collect</h4>
                <p>We may collect the following types of information:
                </p>
                <h5 class="mb-3 fs-6">2.1 Personal Information:</h5>
                <p>* Contact information (e.g., name, address, email address, phone number)</p>
                <p>* Account credentials (e.g., username, password)</p>
                <p>* Payment information (if applicable)</p>
                <h5 class="mb-3 fs-6">2.2 Technical Information:</h5>
                <p>* Device information (e.g., device type, operating system version)</p>
                <p>* Usage data (e.g., interactions with the App, features accessed)</p>
                <h4 class="mb-3 fs-5">3. How We Use Your Information</h4>
                <p>We use your information for the following purposes:</p>
                <p>* Provide, operate, and maintain the App</p>
                <p>* Improve and personalize user experience</p>
                <p>* Respond to your inquiries and support requests</p>
                <p>* Send you technical notices, updates, security alerts, and administrative messages</p>
                <p>* Analyze trends and usage of the App</p>
                <h4 class="mb-3 fs-5">4. Disclosure of Your Information</h4>
                <p>We may disclose your information in the following circumstances:
                </p>
                <p>* To comply with legal obligations or respond to lawful requests and legal process
                </p>
                <p>* To protect and defend our rights or property
                </p>
                <p>* With service providers who assist us in operating the App and providing services
                </p>
                <h4 class="mb-3 fs-5">5. Data Security</h4>
                <p>We implement reasonable security measures to protect your personal information from unauthorized
                    access, use, or disclosure. However, no method of transmission over the internet or electronic
                    storage is 100% secure.</p>
                <h4 class="mb-3 fs-5">6. Your Choices</h4>
                <p>* You can review and update your personal information by accessing your account settings within the
                    App.</p>
                <p>* You can opt out of receiving promotional emails or notifications from us by adjusting your
                    notification settings.
                </p>
                <h4 class="mb-3 fs-5">7. Changes to This Privacy Policy</h4>
                <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the
                    new Privacy Policy on this page with a new effective date.
                </p>
                <h4 class="mb-3 fs-5">8. Contact Us</h4>
                <p>If you have any questions about this Privacy Policy, please contact us at [contact email].
                </p>
            </div>
        </div>
    </div>
</div>