<div class="offcanvas-header sidebar-popup-header">
    <h6 class="offcanvas-title" id="offcanvasRightLabel">Request Demo</h6>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" #customerCancelEle>
    </button>
</div>

<form class="sidebar-popup-inner" [formGroup]="requestDemoForm" (ngSubmit)="onSubmit()">
    <div class="offcanvas-body">
        <div class="form-group mb-3">
            <label for="fname" class="form-label">Contact Person Name</label>
            <div class="row gx-3">
                <div class="col-md-6">
                    <input type="text" id="firstName" formControlName="firstName" placeholder="Enter First Name"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                        maxlength="50">
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First name is required</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="text" id="lastName" formControlName="lastName" placeholder="Enter Last Name"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                        maxlength="50">
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last name is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="phonenumber" class="form-label">Phone Number</label>
            <input type="text" id="phonenumber" formControlName="phoneNumber" placeholder="Enter phone number"
                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" maxlength="10">
            <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                <div *ngIf="f.phoneNumber.errors.required">Phone number is required</div>
                <div *ngIf="f.phoneNumber.errors.pattern">Enter valid phone number</div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" id="email" formControlName="emailAddress" placeholder="Enter email address"
                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <div *ngIf="submitted && f.emailAddress.errors" class="invalid-feedback">
                <div *ngIf="f.emailAddress.errors.required">Email address is required</div>
                <div *ngIf="f.emailAddress.errors.pattern">Enter valid email address</div>
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="companyname" class="form-label">Company Name</label>
            <input type="text" id="companyName" formControlName="companyName" placeholder="Enter company name"
                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }">
            <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
                <div *ngIf="f.companyName.errors.required">Company name is required</div>
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="companyname" class="form-label">Sub domain Name</label>
            <input type="text" id="subDomainName" formControlName="subDomainName" placeholder="Enter Sub doamin name"
                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subDomainName.errors }">
            <div *ngIf="submitted && f.subDomainName.errors" class="invalid-feedback">
                <div *ngIf="f.subDomainName.errors.required">Subdomain name is required</div>
                <div *ngIf="f.subDomainName.errors.pattern">Enter a valid subdomain name</div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="employeesNumber" class="form-label">Number of employees at your
                company?</label>
            <select id="employeesNumber" formControlName="noOfEmpInCompany" class="form-select"
                [ngClass]="{ 'is-invalid': submitted && f.noOfEmpInCompany.errors }">
                <option value="">Select</option>
                <option value="{{_emp.text}}" *ngFor="let _emp of noOfEmplyees">{{_emp.value}}</option>
            </select>
            <div *ngIf="submitted && f.noOfEmpInCompany.errors" class="invalid-feedback">
                <div *ngIf="f.noOfEmpInCompany.errors.required">Number of employee is required</div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="industry" class="form-label">Industry</label>
            <select id="industry" formControlName="industry" class="form-select"
                [ngClass]="{ 'is-invalid': submitted && f.industry.errors }">
                <option value="">Select</option>
                <option value="{{industry.text}}" *ngFor="let industry of industries">{{industry.value}}</option>
            </select>
            <div *ngIf="submitted && f.industry.errors" class="invalid-feedback">
                <div *ngIf="f.industry.errors.required">Industry is required</div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="howHearAboutUs" class="form-label">How did you here about us?</label>
            <select id="howHearAboutUs" formControlName="howHearAboutUs" class="form-select"
                [ngClass]="{ 'is-invalid': submitted && f.howHearAboutUs.errors }">
                <option value="">Select</option>
                <option value="{{_emp.text}}" *ngFor="let _emp of hereAboutUs">{{_emp.value}}</option>
            </select>
            <div *ngIf="submitted && f.howHearAboutUs.errors" class="invalid-feedback">
                <div *ngIf="f.howHearAboutUs.errors.required">Here about us is required</div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="timeZone" class="form-label">Time Zone</label>
            <select id="timeZone" formControlName="timeZone" class="form-select"
                [ngClass]="{ 'is-invalid': submitted && f.timeZone.errors }">
                <option value="">Select</option>
                <option value="{{timezone.utc}}" *ngFor="let timezone of timezones">{{timezone.label}}</option>
            </select>
            <div *ngIf="submitted && f.timeZone.errors" class="invalid-feedback">
                <div *ngIf="f.timeZone.errors.required">Time zone is required</div>
            </div>
        </div>

    </div>
    <div class="sidebar-popup-bottom offcanvas-footer" *ngIf="IsShwoButtonPanel">
        <button class="light-outlined-button outlined w-100" data-bs-dismiss="offcanvas" type="button">Cancel</button>
        <button class="btn btn-primary w-100">
            <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span> -->
            Convert To Tenant
        </button>
    </div>
</form>