<div class="job-top-steps mb-4">
    <!-- --active-job-step -->
    <div class="job-step-item ">
        <h4>Assigned</h4>
        <p>-</p>
    </div>
    <div class="job-step-item">
        <h4>Estimate</h4>
        <p>-</p>
    </div>
    <div class="job-step-item">
        <h4>Job Start</h4>
        <p>-</p>
    </div>
    <div class="job-step-item">
        <h4>Job Finish</h4>
        <p>-</p>
    </div>
    <div class="job-step-item">
        <h4>Invoice</h4>
        <p>-</p>
    </div>
</div>