<div class="job-top-steps mb-4">
    <div class="job-step-item active-job-step">
        <h4>Scheduled</h4>
        <p>Apr 15, 2024, at 10:00AM</p>
    </div>
    <div class="job-step-item">
        <h4>Estimate</h4>
        <p>-</p>
    </div>
    <div class="job-step-item">
        <h4>Job Start</h4>
        <p>-</p>
    </div>
    <div class="job-step-item">
        <h4>Job Finish</h4>
        <p>-</p>
    </div>
    <div class="job-step-item">
        <h4>Invoice</h4>
        <p>-</p>
    </div>
</div>