<!-- <nav class="navbar navbar-expand navbar-dark bg-dark px-3">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/admin" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Overview</a>
            <a class="nav-item nav-link" routerLink="/admin/customer" routerLinkActive="active">Customer</a>
        <a class="nav-item nav-link" routerLink="/admin/scheduler" routerLinkActive="active">Scheduler</a>
        <a class="nav-item nav-link" routerLink="/admin/jobs" routerLinkActive="active">Jobs</a>
        <a class="nav-item nav-link" routerLink="/admin/estimate-invoice" routerLinkActive="active">Estimate Invoice</a>
        <button class="btn btn-link nav-item nav-link" (click)="logout()">Logout</button>
    </div>
</nav> -->
<app-header></app-header>
<div class="container">
    <router-outlet></router-outlet>
</div>