<div class="page-title-box items-center">
    <div class="container-xxl">
        <div class="d-flex items-center">
            <h3 class="page-title">Invoices</h3>
            <div class="page-title-right d-flex align-items-center gap-3 ms-auto">
                <button class="primary-filled-button  w-100" type="button" (click)="createInvoice()"><span
                        class="icon-add"></span>
                    Add New Invoice</button>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl">
    <div class="py-4">
        <div class="widget-container">
            <article class="widget-card ">
                <div class="widget-card-circle lightGrayBox">
                    <span class="icon-invoice"></span>
                </div>
                <div class="widget-card-info">
                    <h6>{{items.length > 0 ?
                        items[0].totalCount:0}}</h6>
                    <p>Total Invoice</p>
                </div>
            </article>
            <article class="widget-card ">
                <div class="widget-card-circle lightYellowBox">
                    <span class="icon-time"></span>
                </div>
                <div class="widget-card-info">
                    <h6>$18,000</h6>
                    <p>Draft from 15 invoices</p>
                </div>
            </article>
            <article class="widget-card ">
                <div class="widget-card-circle lightDangerBox">
                    <span class="icon-overdue"></span>
                </div>
                <div class="widget-card-info">
                    <h6>$25,000</h6>
                    <p>Overdue from 35 invoices</p>
                </div>
            </article>
            <article class="widget-card ">
                <div class="widget-card-circle lightGreenBox">
                    <span class="icon-job"></span>
                </div>
                <div class="widget-card-info">
                    <h6>$35,000</h6>
                    <p>Need invoices for 26 jobs</p>
                </div>
            </article>
        </div>
        <div class="table-top-filter-row">
            <div class="table-top-filter-left">
                <div class="top-search-group flexGrow2 startIconInputField">
                    <input type="text" id="search" name="search" placeholder="Search invoice here..."
                        class="form-control">
                    <span class="icon-search iconPosition"></span>
                </div>
                <div class="top-search-group flexGrow1">
                    <input type="date" id="date" name="date" placeholder="Select date..." class="form-control">
                </div>
                <div class="top-search-group flexGrow1">
                    <select id="status" name="status" class="form-select pe-4">
                        <option selected> Show All </option>
                        <option value="">Paid</option>
                        <option value="">Pending</option>
                        <option value="">Overdue</option>
                        <option value="">Draft</option>
                    </select>
                </div>
            </div>
            <div class="table-top-filter-right">
                <button class="light-outlined-button"><span class="icon-send"></span> Send invoices</button>
                <button class="light-outlined-button"><span class="icon-time"></span> Send Reminder</button>
                <button class="light-outlined-button"><span class="icon-export"></span> Export</button>
            </div>
        </div>
        <div class="mt-20">
            <table class="row-border">
                <thead>
                    <tr>
                        <th>
                            <mat-checkbox class="example-margin" (change)="checkAll($event)"></mat-checkbox>
                        </th>
                        <th (click)="sortBy('refNo')">Invoice No.{{sortIcon('refNo')}}</th>
                        <th (click)="sortBy('createdDate')">Create Date{{sortIcon('createdDate')}}</th>
                        <th (click)="sortBy('customerName')">Customer Name{{sortIcon('customerName')}}</th>
                        <th (click)="sortBy('totalAmount')">Amount Due{{sortIcon('totalAmount')}}</th>
                        <th (click)="sortBy('jobId')">Job{{sortIcon('jobId')}}</th>
                        <th (click)="sortBy('status')">Status{{sortIcon('status')}}</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let invoice of items">
                        <td>
                            <mat-checkbox class="example-margin" [checked]="invoice.ischeck ==true"></mat-checkbox>
                        </td>
                        <td>{{invoice.refNo}}</td>
                        <td>{{invoice.createdDate | date:'mediumDate' }}</td>
                        <td>{{invoice.firstName}} {{invoice.lastName}}</td>
                        <td>${{invoice.totalAmount | number : '1.2-2'}}</td>
                        <td>{{invoice.jobId}}</td>
                        <td>
                            <div class="">
                                <span class="warning-badge">{{invoice.status}}</span>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center justify-content-end">
                                <button class=" light-outlined-button" (click)="viewInvoice(invoice.invoiceId)">View
                                    Details</button>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="items.length==0 && !loading">
                        <span>No data found</span>
                    </tr>
                </tbody>
            </table>
            <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        </div>
        <div class="card-footer pb-0 pt-3">
            <mat-paginator [length]="items.length > 0 ? items[0].totalCount:0" *ngIf="items.length > 0"
                [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                (page)="onPageChanged($event)"></mat-paginator>
        </div>
    </div>
</div>