<div class="mb-4">
    <h4 class="mb-1 font20">Business Hours</h4>
    <p class="font14 mb-0 font-muted">Choose the hours and days of the week you would like the service to be active in.</p>
</div>
<div class="row">
    <div class="col-md-10 col-lg-12">
        <div class="border-bottom mb-4 pb-4">
            <div class="row">
                <div class="col-12">
                    <div class="font15 mb-1">Timezone</div>
                </div>
                <div class="col-12">
                    <select id="timeZone" class="form-select" [(ngModel)]='timeZone'
                        [ngModelOptions]="{standalone: true}" [disabled]="true">
                        <option value="">Select</option>
                        <option value="{{timezone.utc}}" *ngFor="let timezone of timezones">{{timezone.label}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <form [formGroup]="businessHourForm" (ngSubmit)="onSubmit()">
            <div formArrayName="days">
                <div class="business-hours-row row mb-3" *ngFor="let day of days().controls;let empIndex=index"
                    [formGroupName]="empIndex">
                    <div class="col-lg-3">
                        <div class="d-flex align-items-center mt-2">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                                    [checked]="day.value.isActive" formControlName="isActive">
                            </div>
                            <h5 class="font16 mb-0 font500">{{day.value.dayName}}</h5>
                        </div>
                    </div>
                    <div class="col-lg-9" formArrayName="businessHours">
                        <div class="d-flex align-items-center gap-3 mb-3"
                            *ngFor="let hours of businessHours(empIndex).controls; let skillIndex=index"
                            [formGroupName]="skillIndex">
                            <div class="form-group flex-grow-1" *ngIf="!hours.value.isDeleted">
                                <input aria-label="default time" class="form-control" formControlName="openTime"
                                    [ngxTimepicker]="defaultValue" [value]="hours.value.openTime"
                                    placeholder="Open time"
                                    [ngClass]="{ 'is-invalid': submitted && hours.get('openTime')!.errors?.required }"
                                    readonly>
                                <div *ngIf="submitted && hours.get('openTime')!.errors" class="invalid-feedback">
                                    <div *ngIf="hours.get('openTime')!.errors?.required">Open time is required
                                    </div>
                                </div>
                                <ngx-material-timepicker #defaultValue (timeSet)="onOpenTimeset($event)"
                                    [defaultTime]="'10:00 am'"></ngx-material-timepicker>
                            </div>
                            <span *ngIf="!hours.value.isDeleted">to</span>
                            <div class="form-group flex-grow-1" *ngIf="!hours.value.isDeleted">
                                <input aria-label="default time1" class="form-control" formControlName="closeTime"
                                    [ngxTimepicker]="defaultValue1" placeholder="Close time"
                                    [value]="hours.value.closeTime" 
                                    [ngClass]="{ 'is-invalid': submitted && hours.get('closeTime')!.errors?.required }"
                                    readonly>
                                <div *ngIf="submitted && hours.get('closeTime')!.errors" class="invalid-feedback">
                                    <div *ngIf="hours.get('closeTime')!.errors?.required">Close time is required
                                    </div>
                                </div>
                                <ngx-material-timepicker #defaultValue1 (timeSet)="onCloseTimeset($event)"
                                    [defaultTime]="'10:00 pm'" ></ngx-material-timepicker>
                            </div>
                            <button type="button" class="light-outlined-button rounded-circle p-0 ShapeBox38"
                                *ngIf="skillIndex == 0" (click)="add(empIndex, day.value.dayId)"><span
                                    class="icon-add"></span>
                            </button>
                            <button class="btn" type="button" (click)="remove(empIndex, skillIndex)"
                                *ngIf="skillIndex > 0 && !hours.value.isDeleted">
                                <span class="icon-delete"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-start gap-3 mt-4">
                <button class="primary-filled-button px-5">Save</button>
            </div>
        </form>
    </div>
</div>