<div class="mb-4">
    <div class="d-flex align-items-center">
        <div class="">
            <h4 class="mb-0 font20">Team Members</h4>
        </div>
        <div class="ms-auto">
            <button class="primary-filled-button  w-100" type="button" (click)="addNewUser()"><span
                    class="icon-add"></span>
                Add New</button>
        </div>
    </div>
</div>
<div class="mt-20 table-middle-items-center">
    <table class="row-border">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Contact Number
                </th>
                <th>
                    Email Address
                </th>
                <th>
                    Last Booking
                </th>
                <th>
                    Status
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>
                    <div class="d-flex teamProfileWrap align-items-center gap-3">
                        <div class="">
                            <img src="../../../../assets/images/blank-img.png" class="img-fluid rounded-2"
                                *ngIf="user.profileImagePath==null || user.profileImagePath==''">
                            <img [src]="user.profileImagePath" class="img-fluid rounded-2"
                                *ngIf="user.profileImagePath!=null || user.profileImagePath!=''">
                        </div>
                        <div class="">
                            <h4 class="font15 mb-1">{{user.firstName}} {{user.lastName}}</h4>
                            <p class="font14 font-muted mb-0 lh-sm">{{user.address}} {{user.city}} {{user.state}}
                                {{user.zipCode}}</p>
                        </div>
                    </div>
                </td>
                <td>{{user.mobileNo | usMobileNo}}</td>
                <td>{{user.emailAddress}}</td>
                <td>---</td>
                <td>
                    <mat-slide-toggle [checked]="user.status=='A'" (change)="onChange($event)"></mat-slide-toggle>
                </td>
                <td>
                    <div class="d-flex align-items-center justify-content-end">
                        <button class="light-outlined-button sm-btn" (click)="editUser(user)"><span
                                class="icon-edit-2"></span> Edit</button>
                    </div>

                </td>
            </tr>
            <tr *ngIf="users.length == 0 && !loading" class="text-center">
                <td class="text-center" colspan="6">
                    <span>No data found</span>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar> -->
</div>
<div class="card-footer pb-0 pt-3">
    <mat-paginator [length]="users.length > 0 ? users[0].totalCount:0" *ngIf="users.length > 0" [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions" (page)="onPageChanged($event)"></mat-paginator>
</div>

<button style="display:none;" class="primary-filled-button  w-100" type="button" data-bs-toggle="offcanvas"
    data-bs-target="#AddTeamMember" #addUserCancelEle><span class="icon-add"></span>
    Add New</button>

<div class="offcanvas offcanvas-end sidebar-popup" tabindex="-1" id="AddTeamMember"
    aria-labelledby="offcanvasRightLabel">
    <app-add-team-member [items]="userInfo"></app-add-team-member>
</div>