<div class="mb-4">
    <div class="d-flex align-items-center">
        <div class="">
            <h4 class="mb-0 font20">Team Members</h4>
        </div>
        <div class="ms-auto">
            <button class="primary-filled-button  w-100" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#AddTeamMember"><span class="icon-add"></span>
                Add New</button>
        </div>
    </div>
</div>
<div class="mt-20 table-middle-items-center">
    <table class="row-border">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Contact Number
                </th>
                <th>
                    Email Address
                </th>
                <th>
                    Last Booking
                </th>
                <th>
                    Status
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="d-flex teamProfileWrap align-items-center gap-3">
                        <div class="">
                            <img src="../../../../assets/images/blank-img.png" class="img-fluid rounded-2" />
                        </div>
                        <div class="">
                            <h4 class="font15 mb-1">John Smith</h4>
                            <p class="font14 font-muted mb-0 lh-sm">451 Lexington Avenue <br>New York, NY 10017</p>
                        </div>
                    </div>
                </td>
                <td>(345) 374-3856</td>
                <td>johnsmith@gmail.com</td>
                <td>Fab 16, 20204</td>
                <td>
                    <div class="d-flex justify-content-center align-items-center ">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center justify-content-end">
                        <button class="light-outlined-button sm-btn"><span class="icon-edit-2"></span> Edit</button>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex teamProfileWrap align-items-center gap-3">
                        <div class="">
                            <img src="../../../../assets/images/blank-img.png" class="img-fluid rounded-2" />
                        </div>
                        <div class="">
                            <h4 class="font15 mb-1">John Smith</h4>
                            <p class="font14 font-muted mb-0 lh-sm">451 Lexington Avenue <br>New York, NY 10017</p>
                        </div>
                    </div>

                </td>
                <td>(345) 374-3856</td>
                <td>johnsmith@gmail.com</td>
                <td>Fab 16, 20204</td>
                <td>
                    <div class="d-flex justify-content-center align-items-center ">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center justify-content-end">
                        <button class="light-outlined-button sm-btn"><span class="icon-edit-2"></span> Edit</button>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex teamProfileWrap align-items-center gap-3">
                        <div class="">
                            <img src="../../../../assets/images/blank-img.png" class="img-fluid rounded-2" />
                        </div>
                        <div class="">
                            <h4 class="font15 mb-1">John Smith</h4>
                            <p class="font14 font-muted mb-0 lh-sm">451 Lexington Avenue <br>New York, NY 10017</p>
                        </div>
                    </div>

                </td>
                <td>(345) 374-3856</td>
                <td>johnsmith@gmail.com</td>
                <td>Fab 16, 20204</td>
                <td>
                    <div class="d-flex justify-content-center align-items-center ">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center justify-content-end">
                        <button class="light-outlined-button sm-btn"><span class="icon-edit-2"></span> Edit</button>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex teamProfileWrap align-items-center gap-3">
                        <div class="">
                            <img src="../../../../assets/images/blank-img.png" class="img-fluid rounded-2" />
                        </div>
                        <div class="">
                            <h4 class="font15 mb-1">John Smith</h4>
                            <p class="font14 font-muted mb-0 lh-sm">451 Lexington Avenue <br>New York, NY 10017</p>
                        </div>
                    </div>

                </td>
                <td>(345) 374-3856</td>
                <td>johnsmith@gmail.com</td>
                <td>Fab 16, 20204</td>
                <td>
                    <div class="d-flex justify-content-center align-items-center ">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center justify-content-end">
                        <button class="light-outlined-button sm-btn"><span class="icon-edit-2"></span> Edit</button>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex teamProfileWrap align-items-center gap-3">
                        <div class="">
                            <img src="../../../../assets/images/blank-img.png" class="img-fluid rounded-2" />
                        </div>
                        <div class="">
                            <h4 class="font15 mb-1">John Smith</h4>
                            <p class="font14 font-muted mb-0 lh-sm">451 Lexington Avenue <br>New York, NY 10017</p>
                        </div>
                    </div>

                </td>
                <td>(345) 374-3856</td>
                <td>johnsmith@gmail.com</td>
                <td>Fab 16, 20204</td>
                <td>
                    <div class="d-flex justify-content-center align-items-center ">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center justify-content-end">
                        <button class="light-outlined-button sm-btn"><span class="icon-edit-2"></span> Edit</button>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="offcanvas offcanvas-end sidebar-popup" tabindex="-1" id="AddTeamMember"
    aria-labelledby="offcanvasRightLabel">
    <app-add-team-member></app-add-team-member>
</div>