<h5 class="font14 mb-2 mt-3 font400 font-muted">Status</h5>
<div class="booking-progress-container">
    <div class="progress" id="progress" style="width: 0%;"></div>
    <!-- active -->
    <div class="booking-progress-step" [ngClass]="bookingStepInfo?.isAssigned  ? 'active' : ''">
        <span class="checktick"></span>
        <h5>Assigned</h5>
    </div>
    <div class="booking-progress-step" [ngClass]="bookingStepInfo?.isJobStarted  ? 'active' : ''">
        <span class="checktick"></span>
        <h5>Job Started</h5>
    </div>
    <div class="booking-progress-step" [ngClass]="bookingStepInfo?.isJobFinished  ? 'active' : ''">
        <span class="checktick"></span>
        <h5>Job Finished</h5>
    </div>
    <div class="booking-progress-step" [ngClass]="bookingStepInfo?.invoiceCreatedDate ===null  ? '' : 'active'">
        <span class="checktick"></span>
        <h5>Invoice</h5>
    </div>
    <div class="booking-progress-step" [ngClass]="bookingStepInfo?.isPaid ? 'active' : ''" *ngIf="bookingStatus==='C'">
        <span class="checktick"></span>
        <h5>Completed</h5>
    </div>
</div>