<h5 class="font14 mb-0 mt-3 font400 font-muted">Status</h5>
<div class="booking-progress-container">
    <div class="progress" id="progress" style="width: 0%;"></div>
    <!-- active -->
    <div class="booking-progress-step ">
        <div class="booking-progress-step-inner">
            <span class="checktick"></span>
            <h5>Scheduled</h5>
        </div>
    </div>
    <div class="booking-progress-step">
        <div class="booking-progress-step-inner">
            <span class="checktick"></span>
            <h5>In-Progress</h5>
        </div>
    </div>
    <div class="booking-progress-step">
        <div class="booking-progress-step-inner">
            <span class="checktick"></span>
            <h5>Estimate</h5>
        </div>
    </div>
    <div class="booking-progress-step">
        <div class="booking-progress-step-inner text-end">
            <span class="checktick"></span>
            <h5>Invoice</h5>
        </div>
    </div>
</div>