<div class="offcanvas-header sidebar-popup-header">
    <h6 class="offcanvas-title" id="offcanvasRightLabel">Add Tax Rate</h6>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" #addTaxCancelEle>
    </button>
</div>

<form class="sidebar-popup-inner" [formGroup]="addTaxForm" (ngSubmit)="onSubmit()">
    <div class="offcanvas-body">
        <div class="form-group mb-3">
            <label for="name" class="form-label">Name</label>
            <select id="name" formControlName="name" name="name" class="form-select"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                <option value="">Select</option>
                <option value="Tax">Tax</option>                
            </select>
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Select Tax</div>
            </div>

            <!-- <input type="text" id="name" name="name" formControlName="name" placeholder="Enter name"
                class="form-control " [ngClass]="{ 'is-invalid': submitted && f.name.errors }" maxlength="50">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
            </div> -->
        </div>
        <div class="form-group mb-3">
            <label for="rate" class="form-label">Rate</label>
            <input type="number" id="rate" name="rate" formControlName="tax" placeholder="Enter rate "
                class="form-control " [ngClass]="{ 'is-invalid': submitted && f.tax.errors }">
            <div *ngIf="submitted && f.tax.errors" class="invalid-feedback">
                <div *ngIf="f.tax.errors.required">Tax is required</div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="expiryDate" class="form-label">Effective Date</label>
            <mat-form-field class="example-full-width muiDatePickerFromField">
                <input matInput [matDatepicker]="picker" [min]="todayDate" formControlName="effectiveDate"
                    placeholder="Choose a date"
                    [ngClass]="{ 'is-invalid': submitted && addTaxForm.get('effectiveDate')?.hasError('required') }" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-error *ngIf="submitted && addTaxForm.get('effectiveDate')?.hasError('required')">
                Effective date is required
            </mat-error>
        </div>
    </div>
    <div class="sidebar-popup-bottom offcanvas-footer">
        <button class="light-outlined-button outlined w-100" data-bs-dismiss="offcanvas" type="button">Cancel</button>
        <button class="primary-filled-button filled w-100" type="submit">Save</button>
    </div>
</form>