<div class="page-title-box items-center">
    <div class="container-xxl">
        <div class="d-flex items-center">
            <h4 class="page-title">Price Book</h4>
            <div class="page-title-right d-flex align-items-center gap-3 ms-auto">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle gap-2" data-bs-toggle="dropdown"
                        data-bs-display="static" aria-expanded="false">
                        More Action
                        <span class="icon-down-arrow"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a href="#"><span class="icon-edit-2"></span> Create Category</a></li>
                        <li><a href="#"><span class="icon-estimate"></span> Add Services</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>