<div class="offcanvas-header sidebar-popup-header">
    <h6 class="offcanvas-title" id="offcanvasRightLabel">{{addressForm.value.tenantAddressId ==0 ?'Add Address':'Edit Address'}}</h6>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" #addNewAddressCancelEle>
    </button>
</div>

<form class="sidebar-popup-inner" [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <div class="offcanvas-body">
        <div class="form-group mb-3">
            <label for="addressLabel" class="form-label">Address Label</label>
            <input type="text" id="addressLabel" formControlName="addressLabel" name="addressLabel"
                placeholder="eg. office address, home address" class="form-control mb-15" maxlength="50"
                [ngClass]="{ 'is-invalid': submitted && f.addressLabel.errors }">
            <div *ngIf="submitted && f.addressLabel.errors" class="invalid-feedback">
                <div *ngIf="f.addressLabel.errors.required">Address label is required</div>
            </div>
        </div>
        <div class="form-group mb-3">
            <div class="address-map">
                <img src="../../../../../assets/images/map.png" class="img-fluid" />
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" id="address" formControlName="address" name="address" placeholder="Address"
                class="form-control mb-15" maxlength="200" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Address is required</div>
            </div>
        </div>

        <div class="row g-3">
            <div class="col-md-6 ">
                <div class="form-group">
                    <label for="State" class="form-label">State</label>
                    <select id="state" name="state" formControlName="state" class="form-select"
                        [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                        <option value="">State</option>
                        <option value="California">California</option>
                        <option value="Texas">Texas</option>
                        <option value="Florida">Florida</option>
                        <option value="New York">New York</option>
                        <option value="Pennsylvania">Pennsylvania</option>
                        <option value="Illinois">Illinois</option>
                        <option value="Ohio">Ohio</option>
                        <option value="Georgia">Georgia</option>
                        <option value="North Carolina">North Carolina</option>
                        <option value="Michigan">Michigan</option>
                    </select>
                    <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                        <div *ngIf="f.state.errors.required">State is required</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="form-group">
                    <label for="city" class="form-label">City</label>
                    <input type="text" id="city" formControlName="city" name="city" placeholder="City"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                        <div *ngIf="f.city.errors.required">City is required</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="form-group">
                    <label for="zipcode" class="form-label">Zip Code</label>
                    <input type="text" id="zipcode" formControlName="zipCode" name="zipcode" placeholder="Zip Code"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors }">
                    <div *ngIf="submitted && f.zipCode.errors" class="invalid-feedback">
                        <div *ngIf="f.zipCode.errors.required">Zipcode is required</div>
                        <div *ngIf="f.zipCode.errors.pattern">Enter valid zipcode</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group mb-3">
                    <mat-slide-toggle formControlName="isDefault">User this for billing
                        address
                        as
                        default</mat-slide-toggle>
                    <!-- <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked2"
                            formControlName="isDefault">
                        <label class="form-check-label form-label" for="flexSwitchCheckChecked2"> User this for billing
                            address
                            as
                            default</label>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-popup-bottom offcanvas-footer">
        <button class="light-outlined-button outlined w-100" data-bs-dismiss="offcanvas" type="button">Cancel</button>
        <button class="btn btn-primary w-100">
            <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span> -->
            Save
        </button>
    </div>
</form>