<!-- <nav class="navbar navbar-expand navbar-dark bg-dark px-3">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/secure-panel/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Overview</a>
        <a class="nav-item nav-link" routerLink="/secure-panel/request-demo" routerLinkActive="active">Request Demo</a>
        <button class="btn btn-link nav-item nav-link" (click)="logout()">Logout</button>
    </div>
</nav> -->
<app-header></app-header>
<router-outlet></router-outlet>