@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.cursor-loader {
  cursor: wait;
  * {
    cursor: wait !important;
    //z-index: 1000px !important;
  }
}

.cdk-overlay-pane {
  width: 400px;
}

.mat-mdc-dialog-container .mdc-dialog__title {
  font-family: "Lexend", sans-serif !important;
  font-weight: 600 !important;
  margin: 0;
  font-size: 18px !important;
  border-bottom: 1px solid #ddd;
  padding: 10px 15px;
  &::before {
    display: none;
  }
}

.mat-mdc-dialog-container .mdc-dialog__content {
  padding: 15px 20px !important;
  color: #333 !important;
}

.mat-mdc-dialog-actions {
  justify-content: flex-end !important;
  padding: 10px 20px 20px 20px !important;
}

button.light-outlined-button.mdc-button {
  background-color: transparent;
  color: var(--muted);
  border: 1px solid;
  border-color: var(--border-color);
  padding: 10px 35px;
  border-radius: 4px;
  height: 38px;
  font-family: "Lexend", sans-serif;
  cursor: pointer;
  font-size: 14px;
}

button.primary-filled-button.mdc-button {
  padding: 10px 35px;
  border-radius: 4px;
  height: 38px;
  font-family: "Lexend", sans-serif;
  cursor: pointer;
  font-size: 14px;
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid;
  border-color: var(--primary);
  box-shadow: none;
}
