<section class="hero-section section-space-ptb">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-7">
                <div class="hero-contents">
                    <h1>Effortless HVAC Management Solutions</h1>
                    <p>Schedule, manage jobs, estimate, invoice, and connect with customers seamlessly.</p>
                    <form class="hero_newsletter_form">
                        <input class="form-control" type="email" placeholder="Enter your email">
                        <button type="submit" class="btn btn-fill-primary">Get Started
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-space-ptb section-about-bluecollar">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xl-6  mx-auto text-center">
                <div class="section-title-sec mb-5">
                    <p>Empowering Your HVAC Business for Success</p>
                    <h2>Grow your business with
                        <span>Blue Collar Engine</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-lg-4">
                <div class="about-bluecollar-card text-lg-start text-center">
                    <div class="icon-box-circle mx-auto ms-lg-0">
                        <img src="../../../assets/images/frontend/images/online-booking.svg" alt="" />
                    </div>
                    <h4>Easy Online Booking</h4>
                    <p class="font15 mb-0">Allow your customers to book HVAC services anytime, anywhere with our online
                        scheduling
                        feature.
                        Customize available time slots, automate.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about-bluecollar-card text-lg-start text-center">
                    <div class="icon-box-circle mx-auto ms-lg-0">
                        <img src="../../../assets/images/frontend/images/estimate.svg" alt="" />
                    </div>
                    <h4>Estimates & Invoices</h4>
                    <p class="font15 mb-0">Allow your customers to book HVAC services anytime, anywhere with our online
                        scheduling feature.
                        Customize available time slots, automate.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about-bluecollar-card text-lg-start text-center">
                    <div class="icon-box-circle mx-auto ms-lg-0">
                        <img src="../../../assets/images/frontend/images/operations.svg" alt="" />
                    </div>
                    <h4>Streamlined Operations</h4>
                    <p class="font15 mb-0">Allow your customers to book HVAC services anytime, anywhere with our online
                        scheduling feature.
                        Customize available time slots, automate.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-space-pb section-our-features">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xl-7  mx-auto text-center">
                <div class="section-title-sec mb-5">
                    <p>Our Features</p>
                    <h2>Elevating HVAC Businesses with
                        Innovative
                        <span>Tools and Solutions</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row g-4 mt-lg-5">
            <div class="col-lg-6 order-1">
                <div class="section-feature-image">
                    <img src="../../../assets/images/frontend/images/calender-img.png" class="img-fluid" alt="" />
                </div>
            </div>
            <div class="col-lg-6 order-2">
                <div class="section-feature-content">
                    <div class="section-title2-sec">
                        <div class="icon-box-circle">
                            <span class="icon-calendar"></span>
                        </div>
                        <h3>Explore the Convenience of Our <span> Online Scheduling</span> Tool
                        </h3>
                    </div>
                    <p>Book HVAC services anytime. Customize slots, sync with your calendar, and receive instant
                        confirmations
                        for hassle-free scheduling.</p>
                    <ul>
                        <li>
                            <span class="icon-tick"></span> Conveniently book HVAC services 24/7.
                        </li>
                        <li>
                            <span class="icon-tick"></span> Customize time slots and receive instant confirmations.
                        </li>
                        <li>
                            <span class="icon-tick"></span> Seamlessly sync appointments with your calendar for easy
                            management.
                        </li>
                    </ul>
                    <button class="btn btn-fill-primary py-3 font16 mt-3 mt-sm-4" (click)="redirectToDemo()">
                        Book a demo
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-space-ptb section-cta bg-blue-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-6  mx-auto text-center">
                <h2>Schedule Your Demo Today!</h2>
                <p>Experience the Power of Blue Collar Engine. Book your personalized demo now for a firsthand look.</p>
                <button class="btn btn-light py-3 mt-4"  (click)="redirectToDemo()">
                    Book a demo <span class="icon-up-arrow rotate90Right"></span>
                </button>
            </div>
        </div>
    </div>
</section>


<section class="section-space-ptb section-our-features">
    <div class="container">
        <div class="row g-4">

            <div class="col-lg-6 order-2 order-lg-1">
                <div class="section-feature-content">
                    <div class="section-title2-sec">
                        <div class="icon-box-circle">
                            <span class="icon-job"></span>
                        </div>
                        <h3>Uncover the Power of Our Comprehensive <span> Job Management</span> System
                        </h3>
                    </div>
                    <p>Assign tasks, track progress, and streamline workflows for efficient project completion with
                        customizable
                        statuses and seamless communication.</p>
                    <ul>
                        <li>
                            <span class="icon-tick"></span> Efficiently assign tasks and track progress.
                        </li>
                        <li>
                            <span class="icon-tick"></span> Customize job statuses for better organization.
                        </li>
                        <li>
                            <span class="icon-tick"></span> Streamline workflows to ensure timely project completion.
                        </li>
                    </ul>
                    <button class="btn btn-fill-primary py-3 font16 mt-3 mt-sm-4" (click)="redirectToDemo()">
                        Book a demo
                    </button>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <div class="section-feature-image">
                    <img src="../../../assets/images/frontend/images/job-img.png" class="img-fluid" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-space-ptb section-our-features bg-blue-light">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="section-feature-image ">
                    <img src="../../../assets/images/frontend/images/estimate-img.png" class="img-fluid" alt="" />
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="section-feature-content">
                    <div class="section-title2-sec">
                        <div class="icon-box-circle bg-white">
                            <span class="icon-estimate"></span>
                        </div>
                        <h3>Empower Your Business with Accurate <span> Estimates</span>
                        </h3>
                    </div>
                    <p>Assign tasks, track progress, and streamline workflows for efficient project completion with
                        customizable
                        statuses and seamless communication.</p>
                    <ul>
                        <li>
                            <span class="icon-tick"></span> Create professional estimates with ease.
                        </li>
                        <li>
                            <span class="icon-tick"></span> Customize templates and include detailed service
                            descriptions.
                        </li>
                        <li>
                            <span class="icon-tick"></span> Convert estimates into jobs seamlessly for faster
                            processing.
                        </li>
                    </ul>
                    <button class="btn btn-fill-primary py-3 font16 mt-3 mt-sm-4"  (click)="redirectToDemo()">
                        Book a demo
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-space-ptb section-our-features">
    <div class="container">
        <div class="row g-4">

            <div class="col-lg-6 order-2 order-lg-1">
                <div class="section-feature-content">
                    <div class="section-title2-sec">
                        <div class="icon-box-circle">
                            <span class="icon-invoice"></span>
                        </div>
                        <h3>Simplify Your <span>Invoicing</span> Process with Professional Precision
                        </h3>
                    </div>
                    <p>Generate professional invoices based on completed jobs or estimates. Accept online payments
                        securely and
                        track payment statuses with ease.</p>
                    <ul>
                        <li>
                            <span class="icon-tick"></span> Generate professional invoices based on completed jobs or
                            estimates.
                        </li>
                        <li>
                            <span class="icon-tick"></span> Accept online payments securely through integrated gateways.
                        </li>
                        <li>
                            <span class="icon-tick"></span> Track payment statuses and send reminders for outstanding
                            invoices.
                        </li>
                    </ul>
                    <button class="btn btn-fill-primary py-3 font16 mt-3 mt-sm-4"  (click)="redirectToDemo()">
                        Book a demo
                    </button>
                </div>
            </div>
            <div class="col-lg-6  order-1 order-lg-2">
                <div class="section-feature-image">
                    <img src="../../../assets/images/frontend/images/invoice-img.png" class="img-fluid" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-space-pb section-our-features">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-6 order-1">
                <div class="section-feature-image">
                    <img src="../../../assets/images/frontend/images/price-img.png" class="img-fluid" alt="" />
                </div>
            </div>
            <div class="col-lg-6 order-2">
                <div class="section-feature-content">
                    <div class="section-title2-sec">
                        <div class="icon-box-circle">
                            <span class="icon-list"></span>
                        </div>
                        <h3>Optimize Your <span> Pricing</span> Strategy with Confidence
                        </h3>
                    </div>
                    <p>Access and manage pricing information for services. Keep pricing consistent and updated quickly
                        to
                        reflect changes in costs.</p>
                    <ul>
                        <li>
                            <span class="icon-tick"></span> Easily access and manage pricing information for your
                            services.
                        </li>
                        <li>
                            <span class="icon-tick"></span> Keep pricing consistent across all jobs and estimates.
                        </li>
                        <li>
                            <span class="icon-tick"></span> Update prices quickly to reflect changes in materials or
                            labor
                            costs.
                        </li>
                    </ul>
                    <button class="btn btn-fill-primary py-3 font16 mt-3 mt-sm-4"  (click)="redirectToDemo()">
                        Book a demo
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-hvac-insights bg-blue-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h2>Listen to Our HVAC Insights Podcast</h2>
                <p>Expert Advice and Industry Trends for HVAC Professionals</p>
                <button class="btn btn-light py-3 mt-4">
                    Listen Now <span class="icon-up-arrow rotate90Right"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="mobile-hvac-insights-section">

    </div>
</section>
