.confirmation-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #ddd;
  @media screen and (max-width: 767px) {
    border: 0;
    padding: 0;
  }
}

.confirmation-header .icon {
  width: 80px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.confirmation-header h2 {
  font-size: 30px;
  color: #111827;
  margin-bottom: 15px;
}

.confirmation-header p {
  color: #6b7280;
  font-size: 16px;
}

@media screen and (max-width: 575px) {
  .booking-services-item-img img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    margin-top: 10px;
  }
}
