<div class="page-title-box items-center">
    <div class="container-xxl">
        <div class="d-flex items-center">
            <div class="">
                <div class="d-flex items-center mb-10">
                    <h4 class="page-title">Add New Invoice</h4>
                </div>
                <div class="breadcrumb">
                    <a>Dashboard</a>
                    <span class="separator">/</span>
                    <a>Invoice</a>
                    <span class="separator">/</span>
                    <span>Create Invoice</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl">
    <div class="py-4">
        <form class="">
            <div class="row g-4 mb-4">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="fname" class="form-label">Customer Name</label>
                        <select id="employeesNumber" formControlName="employeesNumber" class="form-select">
                            <option value="" disabled selected>Select</option>
                            <option value="Michael Williams">Michael Williams</option>
                            <option value="John Smith">John Smith</option>
                            <option value="Sarah Johnso">Sarah Johnson</option>
                            <option value="James Davis">James Davis</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group ">
                        <label for="createDate" class="form-label">Create Date</label>
                        <input type="date" id="createDate" formControlName="createDate" placeholder="Select date"
                            class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group ">
                        <label for="expiryDate" class="form-label">Expiry Date</label>
                        <input type="date" id="expiryDate" formControlName="expiryDate" placeholder="Select date"
                            class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group ">
                        <label for="EstimateId" class="form-label">Estimate ID</label>
                        <input type="text" id="EstimateId" formControlName="EstimateId" value="CZHC-00001"
                            placeholder="EstimateId" class="form-control">
                    </div>
                </div>
            </div>
            <h4 class="mb-15 font16">Customer Details</h4>
            <div class="row gx-5 mb-4">
                <div class="col-lg-6">
                    <div class="border p-3 rounded h-100 ">
                        <div class="row mb-2">
                            <div class="col-4">
                                <div class="font-muted font14">Customer Name</div>
                            </div>
                            <div class="col-8">
                                <div class="font14">John Smith </div>
                            </div>
                        </div>
                        <div class="row  mb-2">
                            <div class="col-4">
                                <div class="font-muted font14">Phone Number</div>
                            </div>
                            <div class="col-8">
                                <div class="font14 d-flex align-items-center gap-2"> <span
                                        class="icon-call"></span>(555)
                                    555 555 </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-4">
                                <div class="font-muted font14">Email address</div>
                            </div>
                            <div class="col-8">
                                <div class="font14 d-flex align-items-center gap-2"><span
                                        class="icon-email"></span>info&#64;comfortzonheating.com </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="border p-3 rounded h-100 ">
                        <div class="font-muted font14 d-flex align-items-center gap-2 mb-2">Service Address

                        </div>
                        <div class="font14 d-flex align-items-center gap-2">
                            <span class="icon-address"></span>333 Cedar Drive, Mountain View, CA 94040
                        </div>
                        <button class="light-outlined-button xs-btn mt-2 px-2" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#AddressBookSidebar" aria-controls="AddressBookSidebar"> <span
                                class="icon-edit"></span> Change
                            Address</button>
                    </div>
                </div>
            </div>
            <h4 class="mb-15 font16">Item Details</h4>
            <div class="itemDetailsTable">
                <table>
                    <thead>
                        <tr>
                            <th>Product/Services</th>
                            <th>Qty</th>
                            <th>Unit price</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-6">
                                <div class="form-group mb-3">
                                    <select id="item" formControlName="item" class="form-select">
                                        <option value="" disabled selected>Type or click to select an item</option>
                                        <option value="Air conditioner repair">Air conditioner repair</option>
                                        <option value="Energy audit">Energy audit</option>
                                        <option value="Heat pump repair">Heat pump repair</option>
                                        <option value="Duct cleaning">Duct cleaning</option>
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <textarea placeholder="Description (Optional)" class="form-control"
                                        rows="3"></textarea>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="number" id="Qty" formControlName="Qty" placeholder="Qty"
                                        class="form-control">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" id="UnitPrice" formControlName="UnitPrice" placeholder="$0.00"
                                        class="form-control">
                                </div>
                            </td>
                            <td>
                                $0.00
                            </td>
                            <td>
                                <button class="btn">
                                    <span class="icon-delete"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="light-primary-outlined-button"><span class="icon-add"></span>Add Service Item</button>

            </div>
            <div class="row mt-5 gx-5">
                <div class="col-lg-7">
                    <h4 class="mb-15 font16">Terms and conditions</h4>
                    <ol class="ps-3">
                        <li class="font-muted font14 mb-2">
                            Payment is due within [number of days] from the invoice date. Late payments may incur
                            penalties
                            or interest charges at [rate]% per [period]. </li>
                        <li class="font-muted font14 mb-2">Goods or services remain the property of [Your Company Name]
                            until
                            payment is received in full.
                        </li>
                        <li class="font-muted font14 mb-2">
                            Any disputes or discrepancies regarding the invoice must be raised within [number of days]
                            of
                            receipt. Disputes will be resolved through [mediation/arbitration/court proceedings] in
                            [jurisdiction].
                        </li>

                        <li class="font-muted font14 mb-2">
                            This agreement is governed by the laws of [jurisdiction], and any disputes shall be resolved
                            in
                            [courts or arbitration in jurisdiction].
                        </li>

                    </ol>
                </div>
                <div class="col-lg-5">
                    <div class="card p-3 bg-light">
                        <div class="d-flex mb-3 align-items-center">
                            <div class="font-muted font14 d-flex align-items-center gap-2">Discount <select id="item"
                                    formControlName="item" class="form-select grey-badge pe-4">
                                    <option selected>%</option>
                                    <option value="1">Flat</option>
                                </select>
                            </div>
                            <div class="font14 ms-auto white-badge">$0.00 </div>
                        </div>
                        <div class="d-flex mb-3 align-items-center">
                            <div class="font-muted font14">Sub Total</div>
                            <div class="font14 ms-auto">$0.00 </div>
                        </div>
                        <div class="d-flex mb-3 align-items-center">
                            <div class="font-muted font14">Tax</div>
                            <div class="font14 ms-auto text-primary">+ $0.00 </div>
                        </div>
                        <div class="d-flex mt-3 mb-2 align-items-center">
                            <h4 class="font18">Estimate Total</h4>
                            <h4 class="font18 ms-auto">$0.00</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end gap-3 mt-5">
                <button class="light-outlined-button px-5" type="button">Save as draft</button>
                <button class="primary-filled-button px-5" type="submit">Send</button>
            </div>
        </form>
    </div>
</div>

<div class="offcanvas offcanvas-end sidebar-popup" tabindex="-1" id="AddressBookSidebar"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header sidebar-popup-header">
        <h6 class="offcanvas-title" id="offcanvasRightLabel">Address Book</h6>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">

        </button>
    </div>
    <div class="offcanvas-body">
        <form class="sidebar-popup-inner">

            <div class="card-checkbox">
                <label>
                    <input type="radio" name="address" class="card-input-element" checked>
                    <div class="card-input">
                        <span class="grey-badge mb-2 border-0">Office Address</span>
                        <p class="font15">123 Oak Street, Springfield, IL 62701</p>
                        <span class="icon-tick"></span>
                        <button class="light-outlined-button xs-btn mt-2 px-2" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#EditAddressSidebar" aria-controls="EditAddressSidebar"> <span
                                class="icon-edit"></span> Edit
                            Address</button>
                    </div>
                </label>
            </div>

            <div class="card-checkbox">
                <label>
                    <input type="radio" name="address" class="card-input-element">
                    <div class="card-input">
                        <span class="grey-badge mb-2 border-0">Home Address</span>
                        <p class="font15">123 Oak Street, Springfield, IL 62701</p>
                        <span class="icon-tick"></span>
                        <button class="light-outlined-button xs-btn mt-2 px-2" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#EditAddressSidebar" aria-controls="EditAddressSidebar"> <span
                                class="icon-edit"></span> Edit
                            Address</button>
                    </div>
                </label>
            </div>






        </form>
    </div>
    <div class="sidebar-popup-bottom offcanvas-footer">
        <button class="primary-filled-button filled w-100" data-bs-dismiss="offcanvas" type="submit"><span
                class="icon-add"></span> Add Address</button>
    </div>
</div>

<div class="offcanvas offcanvas-end sidebar-popup" tabindex="-1" id="EditAddressSidebar"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header sidebar-popup-header">
        <h6 class="offcanvas-title" id="offcanvasRightLabel">Add Address</h6>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">

        </button>
    </div>
    <div class="offcanvas-body">
        <form class="sidebar-popup-inner">

            <div class="form-group mb-3">
                <label for="addressLabel" class="form-label">Address Label</label>
                <input type="text" id="addressLabel" name="addressLabel" placeholder="eg. office address, home address"
                    class="form-control mb-15">
            </div>

            <div class="form-group mb-3">
                <div class="address-map">
                    <img src="../../../../../assets/images/map.png" class="img-fluid" />
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" id="address" name="address" placeholder="Address" class="form-control mb-15">
            </div>

            <div class="row g-3">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label for="Country" class="form-label">Country</label>
                        <select id="state" name="Country" class="form-select">
                            <option value="" disabled selected>Country</option>
                            <option value="USA">USA</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label for="State" class="form-label">State</label>
                        <select id="state" name="state" class="form-select">
                            <option value="" disabled selected>State</option>
                            <option value="California">California</option>
                            <option value="Texas">Texas</option>
                            <option value="Florida">Florida</option>
                            <option value="New York">New York</option>
                            <option value="Pennsylvania">Pennsylvania</option>
                            <option value="Illinois">Illinois</option>
                            <option value="Ohio">Ohio</option>
                            <option value="Georgia">Georgia</option>
                            <option value="North Carolina">North Carolina</option>
                            <option value="Michigan">Michigan</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label for="city" class="form-label">City</label>
                        <input type="text" id="city" name="city" placeholder="City" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label for="zipcode" class="form-label">Zip Code</label>
                        <input type="text" id="zipcode" name="zipcode" placeholder="Zip Code" class="form-control">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked2"
                                checked>
                            <label class="form-check-label form-label" for="flexSwitchCheckChecked2"> User this for
                                billing address as
                                default</label>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="sidebar-popup-bottom offcanvas-footer">
        <button class="light-outlined-button outlined w-100" data-bs-dismiss="offcanvas" type="button">Cancel</button>
        <button class="primary-filled-button filled w-100" data-bs-dismiss="offcanvas" type="submit">Save</button>
    </div>
</div>