<div class="booking-title-section py-5">
    <div class="container-xxl">
        <h2 class="text-center">Schedule Online</h2>
    </div>
</div>
<div class="py-5">
    <div class="container-xxl">
        <div class="row gx-5">
            <div class="col-lg-4">
                <h4 class="mb-15 font20">Select Service</h4>
                <div class="nav flex-column nav-pills me-3 booking-services-lists" id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-air-conditioning-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-air-conditioning" type="button" role="tab"
                        aria-controls="v-pills-air-conditioning" aria-selected="true">
                        <img src="../../../../../assets/images/svg-icons/air-conditioning-grey.svg"
                            alt="Air Conditioning" class="img-fluid inActiveCartInput" />
                        <img src="../../../../../assets/images/svg-icons/air-conditioning-blue.svg"
                            alt="Air Conditioning" class="img-fluid activeCartInput" />
                        <h4 class="font15">Air Conditioning</h4>
                    </button>
                    <button class="nav-link" id="v-pills-plumbing-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-plumbing" type="button" role="tab" aria-controls="v-pills-plumbing"
                        aria-selected="false">
                        <img src="../../../../../assets/images/svg-icons/plumbing-grey.svg" alt="Plumbing"
                            class="img-fluid inActiveCartInput" />
                        <img src="../../../../../assets/images/svg-icons/plumbing-blue.svg" alt="Plumbing"
                            class="img-fluid activeCartInput" />
                        <h4 class="font15">Plumbing</h4>
                    </button>

                    <button class="nav-link" id="v-pills-heating-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-heating" type="button" role="tab" aria-controls="v-pills-heating"
                        aria-selected="false">
                        <img src="../../../../../assets/images/svg-icons/heating-grey.svg" alt="Heating"
                            class="img-fluid inActiveCartInput" />
                        <img src="../../../../../assets/images/svg-icons/heating-blue.svg" alt="Heating"
                            class="img-fluid activeCartInput" />
                        <h4 class="font15">Heating</h4>
                    </button>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-air-conditioning" role="tabpanel"
                        aria-labelledby="v-pills-air-conditioning-tab" tabindex="0">
                        <h4 class="mb-15 font20">Air Conditioning Services </h4>
                        <div class="border rounded p-3">
                            <div class="booking-services-items">
                                <div class="row">
                                    <div class="">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-plumbing" role="tabpanel"
                        aria-labelledby="v-pills-plumbing-tab" tabindex="0">
                        <h4 class="mb-15 font20">Plumbing Services </h4>
                        <div class="border rounded p-3">
                            <div class=""></div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-heating" role="tabpanel"
                        aria-labelledby="v-pills-heating-tab" tabindex="0">
                        <h4 class="mb-15 font20">Heating Services </h4>
                        <div class="border rounded p-3">
                            <div class=""></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>