<div class="booking-title-section py-5">
    <div class="container-xxl">
        <h2 class="text-center">Schedule Online</h2>
    </div>
</div>
<div class="py-5">
    <div class="container-xxl">
        <div class="row gx-5">
            <div class="col-lg-4">
                <h4 class="mb-15 font20">Select Service</h4>
                <div class="nav flex-column nav-pills me-3 booking-services-lists" id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-air-conditioning-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-air-conditioning" type="button" role="tab"
                        aria-controls="v-pills-air-conditioning" aria-selected="true">
                        <img src="../../../../../assets/images/svg-icons/air-conditioning-grey.svg"
                            alt="Air Conditioning" class="img-fluid inActiveCartInput" />
                        <img src="../../../../../assets/images/svg-icons/air-conditioning-blue.svg"
                            alt="Air Conditioning" class="img-fluid activeCartInput" />
                        <h4 class="font15">Air Conditioning</h4>
                    </button>
                    <button class="nav-link" id="v-pills-plumbing-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-plumbing" type="button" role="tab" aria-controls="v-pills-plumbing"
                        aria-selected="false">
                        <img src="../../../../../assets/images/svg-icons/plumbing-grey.svg" alt="Plumbing"
                            class="img-fluid inActiveCartInput" />
                        <img src="../../../../../assets/images/svg-icons/plumbing-blue.svg" alt="Plumbing"
                            class="img-fluid activeCartInput" />
                        <h4 class="font15">Plumbing</h4>
                    </button>

                    <button class="nav-link" id="v-pills-heating-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-heating" type="button" role="tab" aria-controls="v-pills-heating"
                        aria-selected="false">
                        <img src="../../../../../assets/images/svg-icons/heating-grey.svg" alt="Heating"
                            class="img-fluid inActiveCartInput" />
                        <img src="../../../../../assets/images/svg-icons/heating-blue.svg" alt="Heating"
                            class="img-fluid activeCartInput" />
                        <h4 class="font15">Heating</h4>
                    </button>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-air-conditioning" role="tabpanel"
                        aria-labelledby="v-pills-air-conditioning-tab" tabindex="0">
                        <h4 class="mb-15 font20">Air Conditioning Services </h4>
                        <div class="border rounded p-4">
                            <div class="booking-services-items">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <span class="grey-badge border-0 rounded-pill mb-2">Starts at $340</span>
                                        <h4 class="mb-3 font16">Anti-rust deep clean AC services</h4>
                                        <ul class="ps-3 mb-2">
                                            <li class="font-muted font13 mb-2">Advanced Foam-jet cleaning of indoor unit
                                            </li>
                                            <li class="font-muted font13 mb-2">Thorough cleaning of outdoor unit</li>
                                            <li class="font-muted font13">Final checks & cleanup</li>
                                        </ul>
                                        <a class="text-decoration-underline font13">View Details</a>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="booking-services-item-img text-end">
                                            <img src="../../../../../assets/images/services1.png" class="img-fluid" />
                                            <button class="btn btn-primary">Added</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="booking-services-items">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <span class="grey-badge border-0 rounded-pill mb-2">Starts at $340</span>
                                        <h4 class="mb-3 font16">Anti-rust deep clean AC services</h4>
                                        <ul class="ps-3 mb-2">
                                            <li class="font-muted font13 mb-2">Advanced Foam-jet cleaning of indoor unit
                                            </li>
                                            <li class="font-muted font13 mb-2">Thorough cleaning of outdoor unit</li>
                                            <li class="font-muted font13">Final checks & cleanup</li>
                                        </ul>
                                        <a class="text-decoration-underline font13">View Details</a>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="booking-services-item-img text-end">
                                            <img src="../../../../../assets/images/services2.png" class="img-fluid" />
                                            <button class="btn btn-outline-primary">Choose Service</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="booking-services-items">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <span class="grey-badge border-0 rounded-pill mb-2">Starts at $340</span>
                                        <h4 class="mb-3 font16">Anti-rust deep clean AC services</h4>
                                        <ul class="ps-3 mb-2">
                                            <li class="font-muted font13 mb-2">Advanced Foam-jet cleaning of indoor unit
                                            </li>
                                            <li class="font-muted font13 mb-2">Thorough cleaning of outdoor unit</li>
                                            <li class="font-muted font13">Final checks & cleanup</li>
                                        </ul>
                                        <a class="text-decoration-underline font13">View Details</a>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="booking-services-item-img text-end">
                                            <img src="../../../../../assets/images/services3.png" class="img-fluid" />
                                            <button class="btn btn-outline-primary">Choose Service</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-plumbing" role="tabpanel"
                        aria-labelledby="v-pills-plumbing-tab" tabindex="0">
                        <h4 class="mb-15 font20">Plumbing Services </h4>
                        <div class="border rounded p-3">
                            <div class="booking-services-items">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <span class="grey-badge border-0 rounded-pill mb-2">Starts at $340</span>
                                        <h4 class="mb-3 font16">Anti-rust deep clean AC services</h4>
                                        <ul class="ps-3 mb-2">
                                            <li class="font-muted font13 mb-2">Advanced Foam-jet cleaning of indoor unit
                                            </li>
                                            <li class="font-muted font13 mb-2">Thorough cleaning of outdoor unit</li>
                                            <li class="font-muted font13">Final checks & cleanup</li>
                                        </ul>
                                        <a class="text-decoration-underline font13">View Details</a>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="booking-services-item-img text-end">
                                            <img src="../../../../../assets/images/services3.png" class="img-fluid" />
                                            <button class="btn btn-outline-primary">Choose Service</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-heating" role="tabpanel"
                        aria-labelledby="v-pills-heating-tab" tabindex="0">
                        <h4 class="mb-15 font20">Heating Services </h4>
                        <div class="border rounded p-3">
                            <div class="booking-services-items">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <span class="grey-badge border-0 rounded-pill mb-2">Starts at $340</span>
                                        <h4 class="mb-3 font16">Anti-rust deep clean AC services</h4>
                                        <ul class="ps-3 mb-2">
                                            <li class="font-muted font13 mb-2">Advanced Foam-jet cleaning of indoor unit
                                            </li>
                                            <li class="font-muted font13 mb-2">Thorough cleaning of outdoor unit</li>
                                            <li class="font-muted font13">Final checks & cleanup</li>
                                        </ul>
                                        <a class="text-decoration-underline font13">View Details</a>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="booking-services-item-img text-end">
                                            <img src="../../../../../assets/images/services3.png" class="img-fluid" />
                                            <button class="btn btn-outline-primary">Choose Service</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-start mt-4">
                    <button class="primary-filled-button px-5 lg-btn" type="button" data-bs-toggle="modal"
                        data-bs-target="#book-service-modal">Next</button>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade common-model-style" id="book-service-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Book Service</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="service-modal-wrapper">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="p-4 px-3">
                            <h5 class="mb-2 font14 font500">Select Date</h5>
                            <div class="service-modal-calendar mb-4">
                                <img src="../../../../../assets/images/calendar-img.png" class="img-fluid" />
                            </div>
                            <h5 class="mb-2 font14 font500">Select Available Time</h5>
                            <div class="service-modal-available-slots">
                                <button class="white-badge">09:00AM - 10:00AM</button>
                                <button class="white-badge">10:00AM - 11:00AM</button>
                                <button class="white-badge">10:00AM - 11:00AM</button>
                                <button class="white-badge">09:00AM - 10:00AM</button>
                                <button class="white-badge">09:00AM - 10:00AM</button>
                                <button class="white-badge">09:00AM - 10:00AM</button>
                                <button class="white-badge">09:00AM - 10:00AM</button>
                                <button class="white-badge">09:00AM - 10:00AM</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 service-modal-right">
                        <div class="ps-3 p-4 d-flex flex-column h-100">
                            <div class="">
                                <div class="border-bottom mb-3 pb-3">
                                    <span class="grey-badge border-0 rounded-pill mb-2">Starts at $340</span>
                                    <h4 class="mb-3 font16">Anti-rust deep clean AC services</h4>
                                    <button class="light-outlined-button bg-white xs-btn mt-2 px-2" type="button"> <span
                                            class="icon-edit"></span> Remove</button>
                                </div>
                                <div class="border-bottom  mb-3 pb-3">
                                    <span class="grey-badge border-0 rounded-pill mb-2">Starts at $340</span>
                                    <h4 class="mb-3 font16">Anti-rust deep clean AC services</h4>
                                    <button class="light-outlined-button bg-white xs-btn mt-2 px-2" type="button"> <span
                                            class="icon-edit"></span> Remove</button>
                                </div>
                            </div>
                            <div class="mt-auto">
                                <button class="primary-filled-button px-5 lg-btn w-100" type="button"
                                    data-bs-target="#book-service-modal2" data-bs-toggle="modal">Next</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade common-model-style" id="book-service-modal2" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Book Service</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="service-modal-wrapper">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="p-4 px-3">
                            <h5 class="mb-2 font14 font500">Service Address</h5>
                            <div class="form-group mb-3">
                                <input type="text" id="address" name="address" placeholder="Address"
                                    class="form-control mb-15">
                            </div>
                            <div class="form-group  mb-3">
                                <select id="state" name="Country" class="form-select">
                                    <option value="" disabled selected>Country</option>
                                    <option value="USA">USA</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <select id="state" name="state" class="form-select">
                                    <option value="" disabled selected>State</option>
                                    <option value="California">California</option>
                                    <option value="Texas">Texas</option>
                                    <option value="Florida">Florida</option>
                                    <option value="New York">New York</option>
                                    <option value="Pennsylvania">Pennsylvania</option>
                                    <option value="Illinois">Illinois</option>
                                    <option value="Ohio">Ohio</option>
                                    <option value="Georgia">Georgia</option>
                                    <option value="North Carolina">North Carolina</option>
                                    <option value="Michigan">Michigan</option>
                                </select>
                            </div>
                            <div class="row g-3">
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <input type="text" id="city" name="city" placeholder="City"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <input type="text" id="zipcode" name="zipcode" placeholder="Zip Code"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                            <h5 class="mb-2 font14 font500 mt-4">Customer Name</h5>
                            <div class="row g-3">
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <input type="text" id="fname" name="fname" placeholder="First Name"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <input type="text" id="lname" name="lname" placeholder="Last Name"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                            <h5 class="mb-2 font14 font500 mt-4">Phone Number</h5>
                            <div class="form-group">
                                <input type="text" id="phoneName" name="phoneName" placeholder="Enter phone number"
                                    class="form-control">
                            </div>
                            <h5 class="mb-2 font14 font500 mt-4">Email address</h5>
                            <div class="form-group">
                                <input type="text" id="email" name="email" placeholder="Enter email address"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 service-modal-right">
                        <div class="ps-3 p-4 d-flex flex-column h-100">
                            <div class="">
                                <div class="border-bottom mb-3 pb-3">
                                    <span class="grey-badge border-0 rounded-pill mb-2">Starts at $340</span>
                                    <h4 class="mb-3 font16">AC Repair</h4>
                                    <button class="light-outlined-button bg-white xs-btn mt-2 px-2" type="button">
                                        <span class="icon-edit"></span> Remove</button>
                                </div>
                                <div class="border-bottom  mb-3 pb-3">
                                    <span class="grey-badge border-0 rounded-pill mb-2">Starts at $340</span>
                                    <h4 class="mb-3 font16">Anti-rust deep clean AC services</h4>
                                    <button class="light-outlined-button bg-white xs-btn mt-2 px-2" type="button">
                                        <span class="icon-edit"></span> Remove</button>
                                </div>
                                <div class="d-flex align-items-start gap-3">
                                    <div class="fs-3">
                                        <span class="icon-calendar"></span>
                                    </div>
                                    <div class="">
                                        <p class="font14 mb-0 font-muted">Date & Time</p>
                                        <h4 class="font16 font600 my-1 ">11:00 Am - 01:00 PM</h4>
                                        <p class="font14 mb-0 ">Friday, Apr 14, 2024</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-auto">
                                <button class="primary-filled-button px-5 lg-btn w-100" type="button">Book
                                    Now</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>