.customers-info-wrapper {
  display: flex;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--light-primary);
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 2rem;
  .customers-card-item {
    p {
      font-size: 0.7rem;
      font-weight: 400;
      margin-bottom: 0.3rem;
      color: var(--muted);
    }
    h6 {
      font-size: 0.85rem;
      font-weight: 400;
      color: var(--dark);
      display: flex;
      gap: 0.35rem;
      align-items: center;
      span {
        line-height: inherit;
      }
    }
  }
}

.customers-widget-container {
  margin-bottom: 2rem;
  .customers-widget-card {
    background: #ffffff;
    border: 1px solid #e6e6e6;
    padding: 1rem;
    overflow: hidden;
    border-radius: 5px;
  }
  p {
    color: var(--muted);
    margin: 0;
    font-size: 13px;
    margin-top: 5px;
  }
  h3 {
    color: var(--dark);
    font-size: 1.2rem;
  }
}
