<div class="page-title-box items-center">
    <div class="container-xxl">
        <div class="d-flex items-center">
            <h3 class="page-title">Bookings</h3>
            <!--
                <div class="page-title-right d-flex align-items-center gap-3 ms-auto">
                    <button class="primary-filled-button  w-100" type="button" (click)="createJob()"><span class=" icon-add"></span> Add New Booking</button>
                </div>
            -->
        </div>
    </div>
</div>
<div class="container-xxl">
    <div class="py-4">
        <div class="widget-container">
            <article class="widget-card">
                <div class="widget-card-circle lightYellowBox">
                    <span class="icon-info"></span>
                </div>
                <div class="widget-card-info">
                    <h6>{{bookingStats?.totalUnAssignedCount}}</h6>
                    <p>Unassigned Booking</p>
                </div>
            </article>
            <article class="widget-card ">
                <div class="widget-card-circle lightSuccessBox ">
                    <span class="icon-tick"></span>
                </div>
                <div class="widget-card-info">
                    <h6>{{bookingStats?.totalAssignedCount}}</h6>
                    <p>Assigned Booking</p>
                </div>
            </article>
            <article class="widget-card ">
                <div class="widget-card-circle lightSuccessBox ">
                    <span class="icon-tick"></span>
                </div>
                <div class="widget-card-info">
                    <h6>{{bookingStats?.totalCompletedCount}}</h6>
                    <p>Completed Booking</p>
                </div>
            </article>
            <article class="widget-card ">
                <div class="widget-card-circle lightGrayBox">
                    <span class="icon-job"></span>
                </div>
                <div class="widget-card-info">
                    <h6>{{bookingStats?.totalBookingCount}}</h6>
                    <p>Total Booking</p>
                </div>
            </article>
        </div>
    </div>

    <div class="row gy-3 gy-lg-0 gx-5" [formGroup]="bookingSearchForm">
        <!--search-filter-->
        <div class="booking-filter mb-4">
            <div class="position-relative startIconInputField">
                <input type="text" id="search" name="search" formControlName="searchStr"
                    placeholder=" Search with Name, Mobile number" class="form-control">
                <span class="icon-search iconPosition"></span>
            </div>
            <div>
                <!-- <mat-form-field class="muiDatePickerFromField" (click)="picker.open()">
                    <input matInput [matDatepicker]="picker" formControlName="bookingDate" placeholder="Choose a date"
                        (dateChange)="onUnassignedDateChange($event)" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker" [disableRipple]="true"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> -->
                <mat-form-field class="muiDatePickerFromField" (click)="picker.open()">
                    <input matInput [matDatepicker]="picker" formControlName="bookingDate" placeholder="Choose a date"
                        readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker" [disableRipple]="true"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div>
                <select class="form-select pe-4" formControlName="type">
                    <option value="" selected>Show All</option>
                    <option value="U">Unassigned</option>
                    <option value="A">Assigned</option>
                    <option value="C">Completed</option>
                    <!-- <option value="">Job Started</option>
                    <option value="">Job Finished</option>
                    <option value="">Invoice</option> -->

                </select>
            </div>
            <div>
                <button class="primary-filled-button px-5" type="button" (click)="filterBooking()">
                    Filter</button>
            </div>
            <div>
                <button class="primary-filled-button px-5" type="button" (click)="resetFilter()">
                    Reset</button>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="bookingColumn">
                <div class="booking-top-head unassigned-booking">
                    Unassigned ({{unAssignedBooking.length > 0 ? unAssignedBooking[0].totalCount:0}})
                </div>
                <div class="assigned-booking-item" (click)="openEditViewBooking(booking)"
                    *ngFor="let booking of unAssignedBooking">
                    <div class="d-flex gap-3 mb-2">
                        <span class="grey-badge"><span class="icon-time"></span> {{booking.bookingTime}}</span>
                        <button class="danger-badge" type="button">{{booking.statusText}}</button>
                    </div>
                    <h4 class="font16 mb-1">{{booking.customerName}}</h4>
                    <p class="font14 mb-2 font-muted">{{booking.address}} {{booking.city}} {{booking.state}}
                        {{booking.zipCode}}</p>
                    <div class="font14 d-flex align-items-center gap-2 mt-1 mb-2 font-muted"> <span
                            class="icon-call"></span>{{booking.mobileNumber | usMobileNo}} </div>
                    <div class="font14 d-flex align-items-center gap-2 font-muted"><span
                            class="icon-email"></span>{{booking.emailAddress}} </div>
                </div>
                <div *ngIf="unAssignedBooking.length==0 && !loadUnAssigned" class="text-center p-3">
                    <span>No data found</span>
                </div>
                <!--
                    <mat-paginator [length]="unAssignedBooking.length > 0 ? unAssignedBooking[0].totalCount:0"
                        *ngIf="unAssignedBooking.length > 0" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChanged($event, 'U')">
                    </mat-paginator>
                -->
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row gx-4 gy-3 gx-5">
                <!--Assigned-section-start-->
                <div class="col-lg-6">
                    <div class="bookingColumn">
                        <div class="booking-top-head assigned-booking">
                            Assigned ({{assignedBooking.length > 0 ? assignedBooking[0].totalCount:0}})
                        </div>
                        <div>
                            <select class="form-select pe-4" formControlName="currentStatus">
                                <option value="" selected>Show All</option>
                                <option value="JS">Job Started</option>
                                <option value="JF">Job Finished</option>
                                <option value="I">Invoice</option>
                            </select>
                        </div>

                        <div class="assigned-booking-item" (click)="openEditViewBooking(booking)"
                            *ngFor="let booking of assignedBooking">
                            <div class="d-flex gap-3 mb-2 align-items-center justify-content-between">
                                <span class="primary-badge"> {{booking.bookingId}}</span>
                                <span class="primary-badge"> {{booking.bookingTime}}</span>
                                <div class="d-flex align-items-center">
                                    <div *ngFor="let teamMember of booking.assignedTeamMembers"
                                        class="userAvtarGroup-rounded-wrapper">
                                        <img src="{{teamMember.profileImagePath}}"
                                            (error)="teamMember.profileImagePath = '../../../../assets/images/blank-img.png'"
                                            alt="image" class="rounded-circle">
                                    </div>
                                </div>
                            </div>
                            <h4 class="font15 mb-2">{{booking.customerName}}</h4>
                            <div class="d-flex align-items-center gap-4 ">
                                <div class="font14 d-flex align-items-center gap-2 font-muted">
                                    <span class="icon-call"></span>{{booking.mobileNumber | usMobileNo}}
                                </div>
                                <div class="font14 d-flex align-items-center gap-2 font-muted">
                                    <span class="icon-email"></span>{{booking.emailAddress}}
                                </div>
                            </div>
                            <h5 class="font14 mb-2 mt-3 font400 font-muted">Services</h5>
                            <div class="d-flex flex-wrap gap-2 items-center" *ngFor="let cat of booking.categories">
                                <span class="white-badge bg-light"
                                    *ngFor="let service of cat.products">{{service.serviceName}}
                                </span>
                            </div>
                            <app-booking-step-dashboard [bookingId]="booking.bookingId"></app-booking-step-dashboard>
                        </div>
                    </div>
                    <div *ngIf="assignedBooking.length==0 && !loadAssigned" class="text-center p-3">
                        <span>No data found</span>
                    </div>
                    <!--
                        <mat-paginator [length]="assignedBooking.length > 0 ? assignedBooking[0].totalCount:0"
                            *ngIf="assignedBooking.length > 0" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChanged($event, 'A')">
                        </mat-paginator>
                    -->
                </div>

                <!--Compeleted-section-start-->
                <div class="col-lg-6">
                    <div class="bookingColumn">
                        <div class="booking-top-head compelete-booking">
                            Completed ({{compeletedBooking.length > 0 ? compeletedBooking[0].totalCount:0}})
                        </div>
                        <div class="assigned-booking-item" *ngFor="let booking of compeletedBooking"
                            (click)="openEditViewBooking(booking)">
                            <div class="d-flex gap-3 mb-2 align-items-center justify-content-between">
                                <span class="primary-badge">{{booking.bookingTime}}</span>
                                <div class="d-flex align-items-center">
                                    <div *ngFor="let teamMember of booking.assignedTeamMembers"
                                        class="userAvtarGroup-rounded-wrapper">
                                        <img src="{{teamMember.profileImagePath}}"
                                            (error)="teamMember.profileImagePath = '../../../../assets/images/blank-img.png'"
                                            alt="image" class="rounded-circle">
                                    </div>
                                </div>
                            </div>
                            <h4 class="font15 mb-2">{{booking.customerName}}</h4>
                            <div class="d-flex align-items-center gap-4 ">
                                <div class="font14 d-flex align-items-center gap-2 font-muted">
                                    <span class="icon-call"></span>{{booking.mobileNumber | usMobileNo}}
                                </div>
                                <div class="font14 d-flex align-items-center gap-2 font-muted">
                                    <span class="icon-email"></span>{{booking.emailAddress}}
                                </div>
                            </div>
                            <h5 class="font14 mb-2 mt-3 font400 font-muted">Services</h5>
                            <div *ngFor="let cat of booking.categories" class="d-flex flex-wrap gap-2 items-center">
                                <span class="white-badge bg-light"
                                    *ngFor="let service of cat.products">{{service.serviceName}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="compeletedBooking.length==0 && !loadCompeleted" class="text-center p-3">
                        <span>No data found</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end sidebar-popup offcanvas-w480 " tabindex="-1" id="BookingDetailsSidebar"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header sidebar-popup-header">
        <div class="d-flex align-items-center">
            <h6 class="offcanvas-title" id="offcanvasRightLabel">Booking Details </h6>
            <span class="danger-badge ms-3">Unassigned</span>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
        </button>
    </div>
    <div class="offcanvas-body">
        <form class="sidebar-popup-inner">
            <div class="p-3 rounded mb-4 border lightPrimaryCardBox">
                <div class="row">
                    <div class="col-8">
                        <div class="form-group">
                            <label for="datetime" class="form-label">Date and time</label>
                            <div class="bookingDateTimeWrapper">
                                <span class="icon-calendar"></span>
                                <input type="text" id="datetimepicker" name="datetimepicker" placeholder="Select Date"
                                    class="form-control" value="">
                                <button type="button" class="btn">
                                    <span class="icon-edit-2"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group text-end">
                            <label for="datetime" class="form-label">Booking ID</label>
                            <p class="mb-0 mt-1">23464323</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <h4 class="font18 mb-2">John Smith </h4>
                <div class="row">
                    <div class="col-4">
                        <div class="font15 d-flex align-items-center gap-2"> <span class="icon-call"></span>(555)
                            555 555 </div>
                    </div>
                    <div class="col-8">
                        <div class="font15 d-flex align-items-center gap-2"><span
                                class="icon-email"></span>info&#64;comfortzonheating.com </div>
                    </div>
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="addressLabel" class="form-label font-muted">Services Address</label>
                <div class="font15 d-flex align-items-center gap-2"><span class="icon-address"></span>123 Main Street,
                    Anytown, USA </div>
            </div>
            <div class="form-group mb-3">
                <label for="addressLabel" class="form-label font-muted">Services</label>
                <div class="d-flex gap-2">
                    <span class="grey-outlined-button">Air conditioner repair-00001</span>
                    <span class="grey-outlined-button">Energy audit</span>
                </div>
            </div>
            <div class="form-group mb-3">
                <textarea placeholder="Description (Optional)" class="form-control" rows="7">I've scheduled an appointment for HVAC servicing. Our air conditioning unit has been making a strange rattling noise intermittently, especially during hot days. Also, our dog will be in the backyard, so please let us know when you're arriving. Looking forward to your visit. Thanks!
                </textarea>
            </div>
            <div class="form-group mb-3">
                <label for="status" class="form-label">Status</label>
                <select id="status" name="status" class="form-select">
                    <option value="" disabled selected>Select</option>
                    <option value="Pending">Pending</option>
                    <option value="Approved">Approved</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="repeat" class="form-label">Repeat</label>
                <select id="repeat" name="repeat" class="form-select">
                    <option value="" disabled selected>Select</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="assignteam" class="form-label">Assigned Team</label>
                <div class="dropdown position-relative">
                    <button type="button" class="btn light-outlined-button dropdown-toggle w-100"
                        data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                        Select
                        <span class="icon-down-arrow ms-auto"></span>
                    </button>
                    <ul class="dropdown-menu w-100 ">
                        <li class="dropdown-team-item">
                            <span class="success-badge rounded-pill dropdown-badge">Available</span>
                            <div class="d-flex tech-info  align-items-center gap-3">
                                <div class="tech-img">
                                    <img src="../../../../../assets/images/tech2.png" alt="" class="img-fluid" />
                                </div>
                                <div class="">
                                    <h5 class="font14 mb-1 font500"> Michael Johnson</h5>
                                    <p class="font13 mb-0 font-muted font400">Air Duct Cleaning and Maintenance</p>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-team-item">
                            <span class="warning-badge rounded-pill dropdown-badge">2 Running jobs</span>
                            <div class="d-flex tech-info  align-items-center gap-3">
                                <div class="tech-img">
                                    <img src="../../../../../assets/images/tech3.png" alt="" class="img-fluid" />
                                </div>
                                <div class="">
                                    <h5 class="font14 mb-1 font500"> Robert Davis</h5>
                                    <p class="font13 mb-0 font-muted font400">Mechanical Aptitude</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="border p-3 mt-3 rounded">
                    <div class="d-flex tech-info align-items-center gap-3">
                        <div class="tech-img">
                            <img src="../../../../../assets/images/tech2.png" alt="" class="img-fluid" />
                        </div>
                        <div class="">
                            <h5 class="font14 mb-1 font500"> Michael Johnson</h5>
                            <p class="font13 mb-0 font-muted font400">Air Duct Cleaning and Maintenance</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3 pb-4">
                <label for="cancelreason" class="form-label">Cancel Reason</label>
                <textarea placeholder="Enter Cancel Reasons" id="cancelreason" class="form-control" rows="4">
                </textarea>
            </div>
        </form>
    </div>
    <div class="sidebar-popup-bottom offcanvas-footer">
        <button class="light-outlined-button outlined w-100" data-bs-dismiss="offcanvas" type="button">Cancel</button>
        <button class="primary-filled-button filled w-100" data-bs-dismiss="offcanvas" type="submit">Save</button>
    </div>
</div>


<div class="modal fade" id="bookingDetailsModal" tabindex="-1" aria-labelledby="bookingDetailsModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border overflow-hidden">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="bookingDetailsModalLabel">Booking Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row mx-0">
                <div class="border-end bg-light overflow-hidden col-3 px-0">

                    <div class="p-3">
                        <h4 class="font16 mb-2">John Deo</h4>
                        <div class="font14 d-flex align-items-center gap-2 mt-1 mb-2 text-black"> <span
                                class="icon-call"></span>(555)
                            555 555 </div>
                        <div class="font14 d-flex align-items-center gap-2 text-black"><span
                                class="icon-email"></span>info&#64;comfortzonheating.com </div>
                    </div>
                    <div class="p-3 border-top">
                        <h4 class="font15 mb-2  font500">Estimate</h4>
                        <div class="d-flex gap-2 flex-column">
                            <span class="white-badge"><span class="icon-tick text-success me-1"></span> #CZHC-00001 -
                                HVAC Service</span>
                            <span class="white-badge"><span class="icon-close text-danger  me-1"></span> #CZHC-00001 -
                                HVAC
                                Service</span>
                        </div>
                        <div class="mt-3">
                            <button class="light-outlined-button w-100 bg-white h-auto">
                                <span class="icon-add me-2"></span> Create
                                Estimate</button>
                        </div>
                    </div>
                    <div class="p-3 border-top">
                        <h4 class="font15 mb-2 font500">Invoice</h4>
                        <div class="d-flex gap-2 flex-column">
                            <span class="white-badge"><span class="icon-overdue text-warning me-1"></span> #CZHC-00001 -
                                HVAC Service</span>
                            <span class="white-badge"><span class="icon-close text-danger  me-1"></span> #CZHC-00001 -
                                HVAC
                                Service</span>
                        </div>
                        <div class="mt-3">
                            <button class="light-outlined-button w-100 bg-white h-auto">
                                <span class="icon-add me-2"></span> Create
                                Invoice</button>
                        </div>
                    </div>
                    <div class="p-3 border-top">
                        <h4 class="font15 mb-2  font500">Assigned Team</h4>
                        <div class="dropdown position-relative">
                            <button type="button" class="btn light-outlined-button bg-white dropdown-toggle w-100 mb-2"
                                data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                                Select Team
                                <span class="icon-down-arrow ms-auto"></span>
                            </button>
                            <ul class="dropdown-menu w-100 ">
                                <li class="dropdown-team-item">
                                    <span class="success-badge rounded-pill dropdown-badge">Available</span>
                                    <div class="d-flex tech-info  align-items-center gap-3">
                                        <div class="tech-img">
                                            <img src="../../../../../assets/images/tech2.png" alt=""
                                                class="img-fluid" />
                                        </div>
                                        <div class="">
                                            <h5 class="font14 mb-1 font500"> Michael Johnson</h5>
                                            <p class="font13 mb-0 font-muted font400">Air Duct Cleaning and Maintenance
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-team-item">
                                    <span class="warning-badge rounded-pill dropdown-badge">2 Running jobs</span>
                                    <div class="d-flex tech-info  align-items-center gap-3">
                                        <div class="tech-img">
                                            <img src="../../../../../assets/images/tech3.png" alt=""
                                                class="img-fluid" />
                                        </div>
                                        <div class="">
                                            <h5 class="font14 mb-1 font500"> Robert Davis</h5>
                                            <p class="font13 mb-0 font-muted font400">Mechanical Aptitude</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="d-flex flex-wrap gap-3 ">
                            <div class="booking-team-user">
                                <img src="../../../../assets/images/tech1.png" class="w-100 h-100 object-fit-cover" />
                            </div>
                            <div class="booking-team-user">
                                <img src="../../../../assets/images/tech2.png" class="w-100 h-100 object-fit-cover" />
                            </div>
                            <div class="booking-team-user border-primary text-primary">
                                <span class="icon-add-user"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 col-9">
                    <div class="job-top-steps mb-4">
                        <div class="job-step-item active-job-step">
                            <h4>Scheduled</h4>
                            <p>Apr 15, 2024, at 10:00AM</p>
                        </div>
                        <div class="job-step-item active-job-step">
                            <h4>Estimate</h4>
                            <p>Apr 15, 2024, at 10:00AM</p>
                        </div>
                        <div class="job-step-item active-job-step">
                            <h4>Job Start</h4>
                            <p>Apr 15, 2024, at 10:00AM</p>
                        </div>
                        <div class="job-step-item">
                            <h4>Job Finish</h4>
                            <p>-</p>
                        </div>
                        <div class="job-step-item">
                            <h4>Invoice</h4>
                            <p>-</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="row">
                            <div class="col-lg-6  ">
                                <div class="border rounded overflow-hidden d-flex align-items-start gap-3 p-3 ">
                                    <div class="fs-3">
                                        <span class="icon-calendar"></span>
                                    </div>
                                    <div class="">
                                        <p class="font14 mb-1 font-muted">Date & Time</p>
                                        <h4 class="font15 font600 mb-0 ">11:00 Am - 01:00 PM
                                            <span class="font14">Friday, Apr 14, 2024</span>
                                        </h4>
                                    </div>
                                    <button class="btn light-outlined-button ShapeCircle28 p-0 ms-auto"> <span
                                            class="icon-edit"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="border rounded overflow-hidden d-flex align-items-start gap-3  p-3">
                                    <div class="fs-3">
                                        <span class="icon-address"></span>
                                    </div>
                                    <div class="">
                                        <p class="font14 mb-1 font-muted">Service Location</p>
                                        <h4 class="font15 font600 mb-0">333 Cedar Drive, Mountain View, CA 94040</h4>
                                    </div>
                                    <button class="btn light-outlined-button ShapeCircle28 p-0 ms-auto"> <span
                                            class="icon-edit"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="booking-details-popup-services">
                        <h4 class="mb-15 font18">Services</h4>
                        <div class="border rounded">
                            <div class="booking-services-items">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="d-flex gap-4">
                                            <div class="booking-services-item-img">
                                                <img src="../../../../../assets/images/services1.png"
                                                    class="img-fluid" />
                                            </div>
                                            <div class="">
                                                <span class="grey-badge border-0 rounded-pill mb-2">Starts at
                                                    $340</span>
                                                <h4 class="mb-3 font16">Anti-rust deep clean AC services</h4>
                                                <ul class="ps-3 mb-2">
                                                    <li class="font-muted font13 mb-2">Advanced Foam-jet cleaning of
                                                        indoor
                                                        unit
                                                    </li>
                                                    <li class="font-muted font13 mb-2">Thorough cleaning of outdoor unit
                                                    </li>
                                                    <li class="font-muted font13">Final checks & cleanup</li>
                                                </ul>
                                                <a class="text-decoration-underline font13" href="#">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="ms-auto text-center">
                                            <p class="font-muted font14 mb-2">Unit of Services</p>
                                            <div class="mb-2">
                                                <span class="white-badge bg-white px-3 font15">1</span>
                                            </div>
                                            <div class="input-group mb-3 booking-services-unit-actions">
                                                <span class="input-group-text">
                                                    <span class="icon-add font14"></span>
                                                </span>
                                                <input type="text" class="form-control" />
                                                <span class="input-group-text">
                                                    <span class="icon-add font14"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="booking-services-items">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="d-flex gap-4">
                                            <div class="booking-services-item-img">
                                                <img src="../../../../../assets/images/services1.png"
                                                    class="img-fluid" />
                                            </div>
                                            <div class="">
                                                <span class="grey-badge border-0 rounded-pill mb-2">Starts at
                                                    $340</span>
                                                <h4 class="mb-3 font16">Anti-rust deep clean AC services</h4>
                                                <ul class="ps-3 mb-2">
                                                    <li class="font-muted font13 mb-2">Advanced Foam-jet cleaning of
                                                        indoor
                                                        unit
                                                    </li>
                                                    <li class="font-muted font13 mb-2">Thorough cleaning of outdoor unit
                                                    </li>
                                                    <li class="font-muted font13">Final checks & cleanup</li>
                                                </ul>
                                                <a class="text-decoration-underline font13" href="#">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="ms-auto text-center">
                                            <p class="font-muted font14 mb-2">Unit of Services</p>
                                            <div class="input-group mb-3 booking-services-unit-actions">
                                                <span class="input-group-text">
                                                    <span class="icon-add font14"></span>
                                                </span>
                                                <input type="text" class="form-control" />
                                                <span class="input-group-text">
                                                    <span class="icon-add font14"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end gap-3 mt-5 mb-3">
                            <button class="light-outlined-button px-5 lg-btn" type="button" data-bs-dismiss="modal"
                                aria-label="Close">Cancel</button>
                            <button class="primary-filled-button px-5 lg-btn" type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>