<div class="page-title-box items-center">
    <div class="container-xxl">
        <div class="d-flex items-center">
            <h3 class="page-title">Jobs</h3>
            <div class="page-title-right d-flex align-items-center gap-3 ms-auto">
                <button class="primary-filled-button  w-100" type="button" (click)="createJob()">
                    <span class=" icon-add"></span> Add New Job</button>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl">
    <div class="py-4">
        <div class="widget-container">
            <article class="widget-card ">
                <div class="widget-card-circle lightGrayBox">
                    <span class="icon-team"></span>
                </div>
                <div class="widget-card-info">
                    <h6>234</h6>
                    <p>Finished Jobs</p>
                </div>
            </article>
            <article class="widget-card ">
                <div class="widget-card-circle lightYellowBox">
                    <span class="icon-time"></span>
                </div>
                <div class="widget-card-info">
                    <h6>34</h6>
                    <p>Scheduled Jobs</p>
                </div>
            </article>
            <article class="widget-card ">
                <div class="widget-card-circle lightDangerBox">
                    <span class="icon-overdue"></span>
                </div>
                <div class="widget-card-info">
                    <h6>20</h6>
                    <p>Unscheduled Jobs</p>
                </div>
            </article>
            <article class="widget-card ">
                <div class="widget-card-circle lightSuccessBox">
                    <span class="icon-job"></span>
                </div>
                <div class="widget-card-info">
                    <h6>$35,000</h6>
                    <p>Total revenue</p>
                </div>
            </article>
        </div>
        <div class="row">
            <div class="col-9 d-flex align-items-center gap-3">
                <div class="top-search-group flexGrow2 startIconInputField">
                    <input type="text" id="search" name="search" placeholder="Search jobs here..." class="form-control">
                    <span class="icon-search iconPosition"></span>
                </div>
                <div class="top-search-group flexGrow1">
                    <select id="status" name="status" class="form-select">
                        <option selected>Service Type</option>
                        <option value="Service 1">Service 1</option>
                        <option value="Service 2">Service 2</option>
                    </select>
                </div>
                <div class="top-search-group flexGrow1">
                    <select id="status" name="status" class="form-select">
                        <option selected>Assigned Technician</option>
                        <option value="Ava Franklin">Ava Franklin</option>
                        <option value="Michael Johnson">Michael Johnson</option>
                        <option value="Robert Davis">Robert Davis</option>
                    </select>
                </div>
                <div class="top-search-group flexGrow1">
                    <select id="status" name="status" class="form-select">
                        <option disabled selected>Status</option>
                        <option value="company1">Active Customer</option>
                        <option value="company2">In-active Customer</option>
                    </select>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <div class="top-search-group">
                    <input type="date" id="date" name="date" placeholder="Select date..." class="form-control">
                </div>
            </div>
        </div>
        <div class="mt-20">
            <table class="row-border">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Create date</th>
                        <th>Customer Name</th>
                        <th>Contact Number</th>
                        <th>Service Location</th>
                        <th>Service Type</th>
                        <th>Employee</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>345467</td>
                        <td>Feb 26, 2024 Fri, 10:00AM</td>
                        <td>Ava Franklin</td>
                        <td>(234) 345-6984</td>
                        <td>Palmetto Bay, Miami</td>
                        <td>
                            <div class="d-flex gap5 items-center">
                                <span class="grey-badge">Duct repair</span>
                                <span class="grey-badge">Furnace repair</span>
                            </div>
                        </td>
                        <td>
                            <div class="overlap-rounded-wrapper  d-flex align-items-center">
                                <img src="../../../../../assets/images/tech2.png" alt="" class="rounded-circle">
                                <img src="../../../../../assets/images/tech3.png" alt="" class="rounded-circle">
                            </div>
                        </td>
                        <td>
                            <div class="d-flex gap5 items-center justify-content-center">
                                <span class="success-badge">In-Progress</span>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>345467</td>
                        <td>Feb 26, 2024 Fri, 10:00AM</td>
                        <td>Ava Franklin</td>
                        <td>(234) 345-6984</td>
                        <td>Palmetto Bay, Miami</td>
                        <td>
                            <div class="d-flex gap5 items-center">
                                <span class="grey-badge">Duct repair</span>
                                <span class="grey-badge">Furnace repair</span>
                            </div>
                        </td>
                        <td>
                            <div class="overlap-rounded-wrapper  d-flex align-items-center">
                                <img src="../../../../../assets/images/tech2.png" alt="" class="rounded-circle">
                                <img src="../../../../../assets/images/tech3.png" alt="" class="rounded-circle">
                            </div>
                        </td>
                        <td>
                            <div class="d-flex gap5 items-center justify-content-center">
                                <span class="success-badge">In-Progress</span>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>345467</td>
                        <td>Feb 26, 2024 Fri, 10:00AM</td>
                        <td>Ava Franklin</td>
                        <td>(234) 345-6984</td>
                        <td>Palmetto Bay, Miami</td>
                        <td>
                            <div class="d-flex gap5 items-center">
                                <span class="grey-badge">Duct repair</span>
                                <span class="grey-badge">Furnace repair</span>
                            </div>
                        </td>
                        <td>
                            <div class="overlap-rounded-wrapper  d-flex align-items-center">
                                <img src="../../../../../assets/images/tech2.png" alt="" class="rounded-circle">
                                <img src="../../../../../assets/images/tech3.png" alt="" class="rounded-circle">
                            </div>
                        </td>
                        <td>
                            <div class="d-flex gap5 items-center justify-content-center">
                                <span class="success-badge">In-Progress</span>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>