.itemDetailsTable table {
  border: 0;
  thead {
    tr {
      border: 0;
      th {
        text-transform: capitalize;
        border: 0 !important;
        background-color: #f2f2f2;
        padding: 8px 15px !important;
        text-align: left !important;
        color: var(--dark);
        font-size: 13px;
        font-weight: 500 !important;
      }
    }
  }
  tbody {
    tr {
      border: 0;
      vertical-align: text-top;
      td {
        border: none;
        text-align: left;
        padding: 20px 15px;
        font-size: 0.875rem;
        font-weight: 400;
        &:first-child {
          padding-left: 0 !important;
        }
        form {
          td {
            padding: 0;
          }
        }
      }
    }
  }
}

.discount-input{
  width: 50px; padding: 2px 8px;
}